<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de demande d'Avance</title>
    <link rel="icon" href="/assets/images1/logo.jpg">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/cssDTB/space.css" />
    <link rel="stylesheet" type="text/css" href="/cssDTB/home.css" />
    <link rel="stylesheet" type="text/css" href="/cssDTB/SalaryAdvance.css" />
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/fontawesome-free-6.4.0-web/css/all.css" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        h2 {
            margin: 10px 0;
            text-align: center;
        }
        .container-confirm {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            margin: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            display: flex;
            width: 100%;
            max-width: 600px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .container-confirm button {
            background-color: #4CAF50;
            color: white;
            padding: 15px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        .container-confirm button:hover {
            background-color: #45a049;
        }
        .container-confirm button:disabled {
            cursor: not-allowed;
            opacity: .7;
            background-color: #45a049;
        }
        .signature {
            margin-top: 20px;
            font-size: 18px;
            color: green;
        }

        .checkmark {
            display: block;
            margin: 10px auto;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid green;
            position: relative;
            margin-top: 20px;
            opacity: 0;
            transform: scale(0);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }
        .checkmark:after {
            content: '';
            position: absolute;
            width: 20px;
            height: 10px;
            border: solid green;
            border-width: 0 0 3px 3px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        .show-checkmark {
            opacity: 1;
            transform: scale(1);
        }
        .show-checkmark:after {
            opacity: 1;
        }
        .message {
            color: #5a5a5a;
            line-height: 1.3rem;
        }
    </style>
</head>
<body>

    <div class="element-container">
        <div class=" mt-3 menu-container">
            <div class="d-flex justify-content-between menu">
                <div class="d-flex justy-content-start align-items-center">
                    <div class="logo">
                        <img class="img-logo" src="/assets/images/solumada-logo.png" />
                    </div>
                    <div class="notif notif-sm justify-content-end mt-2">
                        <button onclick="openNotif(this)" class="notif-btn">
                            <i class="fa-solid fa-bell icons mx-3"></i>
                            <span id="numberNotification" class="badge badge-danger">0</span>
                        </button>
                        <button onclick="logOut()">
                            <i class="fa-solid fa-power-off icons mx-3"></i>
                        </button>
                    </div>
                </div>
                <div class="menu mt-1">
                    <a href="/mySpace" class="text-menu mx-2">
                        Accueil
                    </a>
                    <a href="/employee" class="text-menu mx-2">
                        Pointage
                    </a>
                    <a href="/RequestLeave" class="text-menu mx-2">
                        Demande d'absence
                    </a>
                    <a href="/SalaryAdvance" class="text-menu active-menu mx-2">
                        Avance sur salaire
                    </a>
                    <a href="/News" class="text-menu mx-2">
                        Solumada News
                    </a>
                </div>
                <div class="notif notif-lg justify-content-end mt-2">
                    <button onclick="openNotif(this)" class="notif-btn">
                        <i class="fa-solid fa-bell icons mx-3"></i>
                        <span id="numberNotification" class="badge badge-danger">0</span>
                    </button>
                    <button onclick="logOut()">
                        <i class="fa-solid fa-power-off icons mx-3"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="content-home my-2">
            <%
                function currencyFormat(number = 0) {
                    try {
                        return number.toLocaleString('mg-MG', {
                            style: 'currency',
                            // currency: 'MGA'
                        });
                    } catch (e) {
                        // Fallback formatting if locale or currency is not supported
                        return `${number.toLocaleString()} MGA`;
                    }
                }
            %>
            <div class="container-confirm">
            <% if (avance) { %>
                <h3>Confirmation de la Demande d'Avance.</h3>
                <br>
                <p>Bonjour <%= username  %>, </p>
                <br>
                <p>Confirmez-vous avoir demandé une avance sur salaire ?</p>
                <br>
                <p>Date d'envoie : <strong id="montantAccorde"><%= (avance.createdAt).toLocaleDateString('fr')  %></strong></p>
                <p>Montant souhaité : <strong id="montantAccorde"><%= currencyFormat(avance.desired_amount)  %></strong></p>
                <p>Montant accordé : <strong id="montantAccorde"><%= currencyFormat(avance.amount_granted)  %></strong></p>
                <div id="checkAnimation" class="checkmark <%= avance.status === "verified" ? 'show-checkmark' : '' %>"></div>
                <br>
                <% if (avance.status === 'verified') { %>
                    <button disabled>Demande confirmée</button>
                    <br>
                    <br>
                    <p id="confirmationMessage" class="message">Votre demande d'avance de <%= avance.amount_granted %> Ariary a été confirmée. Veuillez prendre rendez-vous avec le service RH pour récupérer votre salaire.</p>
                <% } else { %>
                    <input type="hidden" id="avance-id" value="<%= avance._id %>">
                    <button id="confirmButton">Confirmer</button>
                    <br>
                    <br>
                    <p id="confirmationMessage" class="message"></p>
                <% } %>
                <% } else { %>
                    <div>Confirmation d'Avance introuvable!</div>
                <% } %>
            </div>
            <!-- notification modal -->
            <div class="notification-modal">
                <h2>
                    <i class="fa-solid fa-bell icons"></i>
                    Vos notifications
                </h2>
                <div class="notification-options">
                    <button type="button" class="mark" onclick="markAllAsRead()">Marquer tous comme lu</button>
                    <button type="button" class="delete" onclick="removeAllNotifications()">Effacer les
                        notifications</button>
                </div>
                <div id="notifContent" class="notification-list">
                    <!-- notification item -->

                </div>

            </div>
        </div>
    </div>


    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
    <script src="/js_code/socket.js"></script>
    <script src="/jsDTB/notification.js"></script>
    <script>

        document.getElementById('confirmButton')?.addEventListener('click', async function() {
            const confirmationMessage = document.getElementById('confirmationMessage');
            const checkmark = document.getElementById('checkAnimation');
            const montant = document.getElementById('montantAccorde').innerText;
            const avanceId = document.getElementById('avance-id').value

            if (!avanceId) return;
            // send request to the server
            const res = await fetch('/api/avance/employe-confirm/'+avanceId, {
                method: 'POST'
            });
            const { ok, data } = await res.json();

            if (ok) {
                // Message de confirmation avec le montant et rendez-vous
                confirmationMessage.innerHTML = `Votre demande d'avance de ${montant} a été confirmée. Veuillez prendre rendez-vous avec le service RH pour récupérer votre salaire.`;
                confirmationMessage.style.display = "block";

                // Afficher l'animation du check
                checkmark.classList.add('show-checkmark');

                // Désactiver le bouton
                this.disabled = true;
                this.innerText = 'Demande confirmée';
            }
        });
        
    </script>
    <script>
        var socket = io();
        socket.on('<%= codeUser %>', function (theNotif) {
            pushNotification(theNotif);
            const title = theNotif.title.replace(/<\/?[^>]+(>|$)/g, "");
            const notification = new Notification(title, {
                body: `${theNotif.content.replace("<br>", "")}`,
                icon: '../assets/images1/logo.jpg',
            })
        })
        function pushNotification(theNotif) {
            // Add a notification according to socket
            var notifElement = `
                        <div id="${theNotif._id}" class="notification-item ${theNotif.isSeen ? 'seen' : ''}" onClick="markAsRead('${theNotif._id}')">
                            <h1>${theNotif.title}</h1>
                            <p class="message">${theNotif.content}</p>
                            <div class="date-time">
                                <span>${theNotif.datetime}</span>
                            </div>
                            <button type="button" class="remove-notif-btn" onClick="removeNotification('${theNotif._id}')"><i class="fa-solid fa-times"></i></button>
                        </div>
                        `
            $("#notifContent").prepend(notifElement);
            $("span#numberNotification").each((i, element) => {
                $(element).text(parseInt($(element).text()) + 1)
            });
            $('.notification-options > button.mark').prop('disabled', false);
            $('.notification-options > button.delete').prop('disabled', false);
        }
        function setnotification(theUser) {
            $.ajax({
                url: "/getNotifications",
                method: "POST",
                data: { code: theUser },
                success: function (data) {
                    var notifElement = "";
                    data.forEach(element => {
                        notifElement += `
                        <div id="${element._id}" class="notification-item ${element.isSeen ? 'seen' : ''}" onClick="markAsRead('${element._id}')">
                            <h1>${element.title}</h1>
                            <p class="message">${element.content}</p>
                            <div class="date-time">
                                <span>${element.datetime}</span>
                            </div>
                            <button type="button" class="remove-notif-btn" onClick="removeNotification('${element._id}')"><i class="fa-solid fa-times"></i></button>
                        </div>
                        `
                    });
                    let notificationCount = data.filter(e => !e.isSeen).length;
                    $("span#numberNotification").each((i, element) => {
                        $(element).text(notificationCount)
                    });
                    $("#notifContent").html(notifElement);
                    // disable markAsRead and ClearNotifications
                    // if all notifications read
                    if (notificationCount === 0) {
                        // disable marquer tous comme lu
                        $('.notification-options > button.mark').attr('disabled', '');
                    }
                    if (data.length === 0) {
                        // disable effacer les notifications
                        $('.notification-options > button.delete').attr('disabled', '');
                    }
                }
            })
        }
        setnotification('<%= codeUser %>');

        function removeNotification(id) {
            // supprimer une notification
            // send request here
            $.ajax({
                url: `/remove-notification/${id}`,
                method: "DELETE",
                data: { notifId: id },
                success: function (data) {
                    if (data.ok) {
                        $(`#${id}`).addClass('removing');
                        setTimeout(() => {
                            $(`#${id}`).remove();
                        }, 200);
                        let notifCount = +$("#numberNotification").text();
                        if (notifCount > 0)
                            $("span#numberNotification").each((i, element) => {
                                if (!$(`#${id}`).hasClass('seen'))
                                    $(element).text(notifCount - 1)
                            });
                        // disable effacer les notifications
                        if ($('.notification-item').length === 0)
                            $('.notification-options > button.delete').attr('disabled', '');
                    } else {
                        console.log(data.message)
                    }
                },
                error: function (err) {
                    console.error(err)
                }
            });

        }

        function removeAllNotifications() {
            // supprimer toutes les notifications
            $.ajax({
                url: "/removeall-notification",
                method: "DELETE",
                success: function (data) {
                    if (data.ok) {
                        $('#notifContent > div').each((index, element) => {
                            setTimeout(() => {
                                $(element).addClass('removing');
                                setTimeout(() => {
                                    $("span#numberNotification").each((i, element) => {
                                        $(element).text(0)
                                    });
                                    $(element).remove();
                                }, 300);
                            }, index * 300);
                        });
                    } else {
                        console.log(data.message)
                    }
                },
                error: function (err) {
                    console.error(err)
                }
            });
        }

        function markAsRead(id) {
            // send request to the server
            if ($(`#${id}`).hasClass('seen')) return;

            $.ajax({
                url: `/markAsRead-notification/${id}`,
                method: "PUT",
                success: function (data) {
                    if (data.ok) {
                        $(`#${id}`).addClass('seen');
                        $(`#${id}`).removeAttr('onClick');
                        let notifCount = +$("#numberNotification").text();
                        if (notifCount > 0)
                            $("span#numberNotification").each((i, element) => {
                                $(element).text(notifCount - 1)
                            });
                    } else {
                        console.log(data.message)
                    }
                },
                error: function (err) {
                    console.error(err)
                }
            });
        }

        function markAllAsRead() {
            $.ajax({
                url: "/markAsReadAll-notification",
                method: "PUT",
                success: function (data) {
                    if (data.ok) {
                        $('#notifContent > div').each((index, element) => {
                            $(element).addClass('seen');
                            $("span#numberNotification").each((i, element) => {
                                $(element).text(0)
                            });

                            $('.notification-options > button.mark').attr('disabled', '');
                        });
                    } else {
                        console.log(data.message)
                    }
                },
                error: function (err) {
                    console.error(err)
                }
            });
        }
        
        function logOut(){
            window.location = "/exit_a";
        }
    </script>
    <script src="../jsDTB/no-connection.js"></script>
</body>
</html>