<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espace employer</title>
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/cssDTB/space.css" />
    <link rel="stylesheet" type="text/css" href="cssDTB/leaveRequest.css" />
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/fontawesome-free-6.4.0-web/css/all.css" />
</head>

<body>
    <div class="element-container">
        <input type="hidden" value="<%= user.entry %>" id="user-entry"/>
        <input type="text" value="" id="nbDay"/>
        <div class="mt-3 menu-container">
            <div class="d-flex justify-content-between menu">
                <div class="logo">
                    <img class="img-logo" src="assets/images/solumada-logo.png" />
                </div>
                <div class="menu mt-1">
                    <a href="/mySpace" class="text-menu mx-2">
                        Accueil
                    </a>
                    <a href="RequestLeave" class="text-menu active-menu mx-2">
                        Demande d'absence
                    </a>
                    <a href="SalaryAdvance" class="text-menu mx-2">
                        Avance sur salaire
                    </a>
                    <a href="News" class="text-menu mx-2">
                        Solumada News
                    </a>
                </div>
                <div class="notif d-flex justify-content-end mt-2">
                    <i class="fa-solid fa-envelope icons mx-3"></i>
                    <i class="fa-solid fa-bell icons mx-3"></i>
                    <i class="fa-solid fa-power-off icons mx-3"></i>
                </div>
            </div>
        </div>
        <div class="content-home mt-2">
            <div class="container mb-3">
                <div class="header-request">
                    <h6 class="text-historic">Historique</h6>
                    <div class="row px-3">
                        <div class="col-md-6">
                            <!-- aprouve, refuser, en traitement , et en attente -->
                            <div class="grid-item">
                                <div class="text-center">
                                    <div class="case-number">
                                        <div class="d-flex">
                                            <i class="fa-solid fa-circle-check icon-check"></i>
                                            <p class="text-title w-100">Approuver</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <p id="approved" class="text-number">0</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <div class="case-number">
                                        <div class="d-flex items-center justify-content-center flex-column">
                                            <i class="fa-solid fa-circle-xmark icon-x"></i>
                                            <p class="text-title w-100">Refuser</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <p id="declined" class="text-number">0</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <div class="case-number">
                                        <div class="d-flex">
                                            <i class="fa-solid fa-hourglass-start icon-progress"></i>
                                            <p class="text-title w-100">En traitement</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <p id="progress" class="text-number">0</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <div class="case-number">
                                        <div class="d-flex">
                                            <i class="fa-solid fa-hourglass-start icon-wait"></i>
                                            <p class="text-title w-100">En attente</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <p id="pending" class="text-number">0</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-solde">Accumulée</p>
                                    <div id="accumulate" class="accumulate-content">
                                        <%= user.leave_taked %>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-solde">Ouvert</p>
                                    <div id="openLeave" class="open-content">
                                        <%= user.remaining_leave %>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-2">
                    <div class="buttons-tab">
                        <button id="makeRequest" class="switch-button active-btn">
                           Demande congé
                        </button>
                        <button id="myRequest" class="switch-button">
                            Mes requêtes
                        </button>
                        <button id="myUpcoming" class="switch-button">
                            Congés a vénir
                        </button>
                    </div>
                   <div>
                        <div id="notification" class="notice-success">
                           Requête envoyé
                        </div>
                   </div>
                </div>
                
                <div id="container-none" class="container-none mt-2">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="text-center">
                            <p class="text-nothing">Aucune donnée pour l'instant</p>
                            <i class="fa-solid fa-folder-open text-nothing"></i>
                        </div>
                    </div>
                </div>
                <div id="container-make" class="container-make mt-2">
                        <h5 class="">
                            <span class="point-text">AUTORISATION D'ABSENCE / REGULARISATION D'ABSENCE</span>
                        </h5>
                        <label for="" class="request-warning">
                            Toutes demandes de : - congés > à 3 jours doivent être déposées au moins 10 jours ou une (1) semaine ouvrable,
                            - congés et permissions < à 3 jours à déposer dans les 48 heures ouvrables avant leurs dates effectives, sauf pour les congés
                            maladies ou Décès.
                        </label>
                        <div class="row">
                            <div class="col-md-6 d-flex">
                                <p class="point-text">Nom et prénoms :</p>
                                <p class="text-infos mx-2"><%= user.first_name %> <%= user.last_name %></p>
                            </div>
                            <div class=" col-md-6 d-flex">
                                <p class="point-text">Prenom usuel :</p>
                                <p class="text-infos mx-2"><%= user.usuel %></p>
                            </div>
                        </div>
                        <div class="row col-md-9 p-0">
                            <div class="col-md-4 d-flex w-100">
                                <p class="point-text">Matricule :</p>
                                <p class="text-infos mx-2"><%= user.matr %></p>
                            </div>
                            <div class="col-md-4 d-flex w-100">
                                <p class="point-text">M-code :</p>
                                <p class="text-infos mx-2" id="code"><%= user.m_code %></p>
                            </div>
                            <div class="col-md-4 d-flex w-100">
                                <p class="point-text">Shift :</p>
                                <p class="text-infos mx-2" id="shift"><%= user.shift %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row col-md-12 p-0">
                                    <div class="col-md-4 d-flex w-100">
                                        <p class="point-text">Periode solicitée :</p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-between w-100">
                                        <p class="point-text ">Date début :</p>
                                        <input class="mx-1 date value" id="startDate" type="date" />
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-between w-100">
                                        <p class="point-text ">Heure :</p>
                                        <input class="mx-1 date value" id="startTime" type="time" />
                                    </div>
                                </div>
                                <div class="row col-md-12 p-0">
                                    <div class="col-md-4 d-flex w-100">
                                      
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-between w-100">
                                        <p class="point-text ">Date fin :</p>
                                        <input class="mx-1 date value" id="endDate" type="date" />
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-between w-100">
                                        <p class="point-text ">Heure :</p>
                                        <input class="mx-1 date value" id="endTime" type="time" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 align-items-center justify-content-center">
                                <div class="day-number">
                                    <p class="point-text">Nb de jour :</p>
                                    <p id="dayNumber"></p>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-md-6">
                                <p class="point-text mb-2">Motifs :</p>
                                <textarea  class="value" id="motif"></textarea>
                            </div>
                            <div class="col-md-6">
                                <p class="point-text mb-2">Récupération :</p>
                                <textarea id="recovery"></textarea>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button id="sendRequest" class="btn btn-md btn-success">Envoyer demande <i class="fa-solid fa-envelope"></i></button>
                            <div class="snippet mx-4 p-3" id="loading" data-title="dot-pulse">
                                <div class="stage">
                                  <div class="dot-pulse"></div>
                                </div>
                              </div>
                        </div>
                </div>
                <div id="container-request" class="container-request mt-2">
                   
                </div>
                <div id="container-upcoming" class="container-request mt-2">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="text-center">
                            <p class="text-nothing">YOU HAVE NO REQUEST</p>
                            <i class="fa-solid fa-folder-open text-nothing"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
    <script src="../jsDTB/LeaveRequest.js"></script>

</body>

</html>