<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espace employer</title>
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/cssDTB/space.css" />
    <link rel="stylesheet" type="text/css" href="cssDTB/leaveRequest.css" />
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/fontawesome-free-6.4.0-web/css/all.css" />
</head>

<body>
    <div class="mr-5 ml-5 p-0 element-container">
        <div class="mt-3 menu-container">
            <div class="d-flex justify-content-between menu">
                <div class="logo">
                    <img class="img-logo" src="assets/images/solumada-logo.png" />
                </div>
                <div class="menu mt-1">
                    <a href="/mySpace" class="text-menu mx-2">
                        Home
                    </a>
                    <a href="RequestLeave" class="text-menu active-menu mx-2">
                        Leave Request
                    </a>
                    <a href="SalaryAdvance" class="text-menu mx-2">
                        Salary Advance
                    </a>
                    <a href="News" class="text-menu mx-2">
                        Solumada News
                    </a>
                </div>
                <div class="notif d-flex justify-content-end mt-2">
                    <i class="fa-solid fa-envelope icons mx-3"></i>
                    <i class="fa-solid fa-bell icons mx-3"></i>
                    <i class="fa-solid fa-power-off icons mx-3"></i>
                </div>
            </div>
        </div>
        <div class="content-home mt-2">
            <div class="container mb-3">
                <div class="header-request">
                    <h6 class="text-historic">Leave Historic</h6>
                    <div class="row pl-3">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 pl-2 text-center">
                                    <div class="row case-number">
                                            <div class="col-md-6 mt-2">
                                                <i class="fa-solid fa-circle-check icon-check"></i>
                                                <p class="text-title w-100">Approved</p>
                                            </div>
                                            <div class="col-md-6 pt-3 mt-2">
                                                <p id="approved" class="text-number">0</p>
                                            </div>
                                            
                                    </div>
                                </div>
                                <div class="col-md-6 pl-4 text-center">
                                    <div class="row case-number">
                                        <div class="col-md-6 mt-2">
                                            <i class="fa-solid fa-circle-xmark icon-x"></i>
                                            <p class="text-title w-100">Decline</p>
                                        </div>
                                        <div class="col-md-6 pt-3 mt-2">
                                            <p id="declined" class="text-number">0</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 pl-2 pt-2 text-center">
                                    <div class="row case-number">
                                        <div class="col-md-6 mt-2">
                                            <i class="fa-solid fa-hourglass-start icon-wait"></i>
                                            <p class="text-title w-100">Pending</p>
                                        </div>
                                        <div class="col-md-6 pt-3 mt-2">
                                            <p id="pending" class="text-number">0</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-solde">Accumulate</p>
                                    <div id="accumulate" class="accumulate-content">
                                        <%= user.leave_taked %>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-solde">Open Leave</p>
                                    <div id="openLeave" class="open-content">
                                        <%= user.remaining_leave %>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-2">
                    <div>
                        <button id="makeRequest" class="switch-button active-btn">
                            Make request
                        </button>
                        <button id="myRequest" class="switch-button mx-2">
                            My request
                        </button>
                        <button id="myUpcoming" class="switch-button">
                            My upcoming leave
                        </button>
                    </div>
                   <div>
                        <div id="notification" class="notice-success">
                            Your request has been sent
                        </div>
                   </div>
                </div>
                <!-- <div id="container-loading" class="container-make mt-2">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="snippet" data-title="dot-pulse">
                          <div class="stage">
                            <div class="dot-pulse"></div>
                          </div>
                        </div>
                      </div>
                </div> -->
                <div id="container-none" class="container-none mt-2">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="text-center">
                            <p class="text-nothing">YOU HAVE NO REQUEST</p>
                            <i class="fa-solid fa-folder-open text-nothing"></i>
                        </div>
                    </div>
                </div>
                <div id="container-make" class="container-make mt-2">
                    
                    <div class="container all-demande">
                        <h5 class="demander">
                            <span class="titre-autorisation-d-absenc">AUTORISATION D'ABSENCE / REGULARISATION D'ABSENCE</span>
                        </h5>
                        <label for="" class="toutes-demande">
                            Toutes demandes de : - congés > à 3 jours doivent être déposées au moins 10 jours ou une (1) semaine ouvrable,
                            - congés et permissions < à 3 jours à déposer dans les 48 heures ouvrables avant leurs dates effectives, sauf pour les congés
                            maladies ou Décès.
                        </label>

                        <div class="all-input row">
                            <div class="col-md-6">
                                <label class="nom-prenom">Nom et prénoms :</label>
                                <label class="input-name" id="nom">RAKOTO Jean De Dieu</label>
                            </div>
                            <div class="col-md-6">
                                <label class="nom-prenom" id="">Prénom usuel :</label>
                                <label class="input-name">Jean De Dieu</label>
                            </div>
                                
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span class="matricule">Matricule :</span>
                                <span class="input-name" id="matricule">120</span>
                            </div>
                            <div class="col-md-3">
                                <span class="matricule">M-code :</span>
                                <span class="input-name" id="mcode">M-CCC</span>
                            </div>
                            <div class="col-md-3">
                                <span class="matricule">Shift :</span>
                                <span class="input-name">1</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <span class="matricule">Période sollicitée :</span>
                            </div>
                            <div class="col-md-10 row">
                            <div class="col-md-4" style="margin: 12px;">
                                <label class="matricule" >Date début :</label>
                                <span class="input-name" >
                                    <input type="date" name="" id="date-debut" class="date">
                                </span>
                            </div>
                            <div class="col-md-4" style="margin: 12px;">
                                <label class="matricule">Heure :</label>
                                <span class="input-name"> 
                                    <input type="time" class="date" name="" id="heure-debut">
                                </span>
                            </div>
                        <!-- </div>
                        <div class="row"> -->
                            <div class="col-md-2 nbreDuJours">
                                <label class="matricule" style="width: 105px;">Nb du jours :</label>
                                <label class="input-name" style="margin: auto;"> 
                                    10
                                </label>
                            </div>
                            <div class="col-md-4" style="margin: 12px;">
                                <label class="matricule">Date fin :</label>
                                <span class="input-name" >
                                    <input type="date" name="" id="date-fin" class="date">
                                </span>
                            </div>
                            <div class="col-md-4" style="margin: 12px;">
                                <label class="matricule">Heure :</label>
                                <span class="input-name">
                                    <input type="time" class="date" name="" id="heure-fin">
                                </span>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <label class="label-motif-recup">Motifs :</label>
                                <textarea name="story" style="border-radius: 5px;" rows="3" cols="38" id="motif">
                                    
                                </textarea>

                            </div>
                            <div class="col-md-6">
                                
                                <label class="label-motif-recup">Récupération :</label>
                                <textarea name="story" style="border-radius: 5px;" rows="3" cols="38" id="recuperation">
                                </textarea>
                            </div>
                        </div>
                        
                        <button type="button" class="btn btn-success" id="envoye-demande">
                            Envoyer une demande
                        </button>
                        <!-- <button class="demande-envoyer"></button> -->
                    </div>
                </div>
                <div id="container-request" class="container-request mt-2">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="text-center">
                            <p class="text-nothing">YOU HAVE NO REQUEST</p>
                            <i class="fa-solid fa-folder-open text-nothing"></i>
                        </div>
                    </div>
                </div>
                <div id="container-upcoming" class="container-request mt-2">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="text-center">
                            <p class="text-nothing">YOU HAVE NO REQUEST</p>
                            <i class="fa-solid fa-folder-open text-nothing"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../jsDTB/LeaveRequest.js"></script>

</body>

</html>