<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espace employée</title>
    <link rel="icon" href="/assets/images1/logo.jpg">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/cssDTB/space.css" />
    <link rel="stylesheet" type="text/css" href="/cssDTB/home.css" />
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/fontawesome-free-6.4.0-web/css/all.css" />
</head>

<body>
    <div class="element-container">
        <div class=" mt-3 menu-container">
            <div class="d-flex justify-content-between menu">
                <div class="d-flex justy-content-start align-items-center">
                    <div class="logo">
                        <img class="img-logo" src="assets/images/solumada-logo.png" />
                    </div> 
                    <div class="notif notif-sm justify-content-end mt-2">
                        <button onclick="openNotif(this)" class="notif-btn">
                            <i class="fa-solid fa-bell icons mx-3"></i>
                            <span id="numberNotification" class="badge badge-danger">0</span>
                        </button>
                        <button onclick="logOut()">
                            <i class="fa-solid fa-power-off icons mx-3"></i>
                        </button>
                    </div>
                </div>
                <div class="menu mt-1">
                    <a href="/mySpace" class="text-menu active-menu mx-2">
                        Accueil
                    </a>
                    <a href="/employee" class="text-menu mx-2">
                        Pointage
                    </a>
                    <a href="RequestLeave" class="text-menu mx-2">
                        Demande d'absence
                    </a>
                    <a href="SalaryAdvance" class="text-menu mx-2">
                        Avance sur salaire
                    </a>
                    <a href="News" class="text-menu mx-2">
                        Solumada News
                    </a>
                </div>
                <div class="notif notif-lg justify-content-end mt-2">
                    <button onclick="openNotif(this)" class="notif-btn">
                        <i class="fa-solid fa-bell icons mx-3"></i>
                        <span id="numberNotification" class="badge badge-danger">0</span>
                    </button>
                    <button onclick="logOut()">
                        <i class="fa-solid fa-power-off icons mx-3"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="content-home my-2">
            <div class="quote">
                <h3>
                    <i class="fa-solid fa-quote-left"></i>
                    UNE EQUIPE, ENSEMBLE NOUS AVANCONS.
                    <i class="fa-solid fa-quote-right"></i>
                </h3>
            </div>
            <div class="container h-100">
                <div class="welcome-space">
                    <div class="message-bulbe mb-4">
                        <h2 class="mb-3 text-welcome animate-typing">Bienvenue dans votre espace</h2>
                        <h2 class="text-name text-center">
                            <%= user.usuel %>
                        </h2>
                    </div>
                    <div class="img-container animate-delayed">
                        <img class="img-content" id="my_profil" src="../Profil/<%= user.profil %>" />
                        <button onclick="profil_click()" class="transparent-button btn-update">CHANGER PROFIL</button>
                        <input
                  id="file-upload" class="d-none" type="file" name="uploadFile"/>
                    </div>
                </div>
            </div>
            <div class="footer-text mt-3">
                <p>Solumada copyright 2024</p>
            </div>

            <!-- notification modal -->
            <div class="notification-modal">
                <h2>
                    <i class="fa-solid fa-bell icons"></i>
                    Vos notifications
                </h2>
                <div class="notification-options">
                    <button type="button" class="mark" onclick="markAllAsRead()">Marquer tous comme lu</button>
                    <button type="button" class="delete" onclick="removeAllNotifications()">Effacer les notifications</button>
                </div>
                <div id="notifContent" class="notification-list">
                    <!-- notification item -->

                </div>

            </div>
        </div>
    </div>

    <script>
        function openNotif(button) {
            let notif_div = document.querySelector('.notification-modal');
            let buttons = [...document.querySelectorAll('.notif button.notif-btn')];
            // close modal
            if (button.classList.contains('selected')) {
                buttons.forEach(btn => 
                    btn.classList.remove('selected')
                )
                notif_div.classList.replace('show', 'hide');
            } else {
                // open modal
                buttons.map(btn => btn.classList.add('selected'));

                if (notif_div.classList.contains('hide')) {
                    notif_div.classList.replace('hide', 'show');
                } else {
                    notif_div.classList.add('show');
                }
                // click away 
                document.onclick = (e) => {
                    // close the notification modal when user click outsite its content
                    if (!e.target.closest('.notification-modal') && 
                    !e.target.closest('.notif')) {
                        buttons.forEach(btn => 
                            btn.classList.remove('selected')
                        )
                        notif_div.classList.remove('show');
                        notif_div.classList.remove('hide');
                    }
                }
            }
        }

        function logOut(){
            window.location = "/exit_a";
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
    <script src="/js_code/socket.js"></script>
    <script>
        var socket = io();
        socket.on('<%= codeUser %>', function (theNotif) {
            pushNotification(theNotif);
            const title = theNotif.title.replace(/<\/?[^>]+(>|$)/g, "");
            const notification = new Notification(title, {
                body: `${theNotif.content.replace("<br>","")}`,
                    icon:  '../assets/images1/logo.jpg',
    });
        })
        function pushNotification(theNotif){
            // Add a notification according to socket
            var notifElement = `
                        <div id="${theNotif._id}" class="notification-item ${theNotif.isSeen ? 'seen' : ''}" onClick="markAsRead('${theNotif._id}')">
                            <h1>${theNotif.title}</h1>
                            <p class="message">${theNotif.content}</p>
                            <div class="date-time">
                                <span>${theNotif.datetime}</span>
                            </div>
                            <button type="button" class="remove-notif-btn" onClick="removeNotification('${theNotif._id}')"><i class="fa-solid fa-times"></i></button>
                        </div>
                        `
            $("#notifContent").prepend(notifElement);
            $("span#numberNotification").each((i, element) => {
                        $(element).text(parseInt($(element).text()) + 1)
                    });
                $('.notification-options > button.mark').prop('disabled', false);
                $('.notification-options > button.delete').prop('disabled', false);
        }
        function setnotification(theUser){
            $.ajax({
                url: "/getNotifications",
                method: "POST",
                data: {code:theUser},
                success: function (data) {
                    var notifElement = ""; 
                    data.forEach(element => {
                        notifElement += `
                        <div id="${element._id}" class="notification-item ${element.isSeen ? 'seen' : ''}" onClick="markAsRead('${element._id}')">
                            <h1>${element.title}</h1>
                            <p class="message">${element.content}</p>
                            <div class="date-time">
                                <span>${element.datetime}</span>
                            </div>
                            <button type="button" class="remove-notif-btn" onClick="removeNotification('${element._id}')"><i class="fa-solid fa-times"></i></button>
                        </div>
                        `
                    });
                    let notificationCount = data.filter(e => !e.isSeen).length;
                    $("span#numberNotification").each((i, element) => {
                        $(element).text(notificationCount)
                    });
                    $("#notifContent").html(notifElement);
                    // disable markAsRead and ClearNotifications
                    // if all notifications read
                    if (notificationCount === 0) {
                        // disable marquer tous comme lu
                        $('.notification-options > button.mark').attr('disabled', '');
                    }
                    if (data.length === 0) {
                        // disable effacer les notifications
                        $('.notification-options > button.delete').attr('disabled', '');
                    }
                }
            })
        }
        setnotification('<%= codeUser %>');
        function removeNotification(id) {
            // supprimer une notification
            // send request here
            $.ajax({
                url: `/remove-notification/${id}`,
                method: "DELETE",
                data: { notifId: id },
                success: function (data) {
                    if (data.ok) {
                        $(`#${id}`).addClass('removing');
                        setTimeout(() => {
                            $(`#${id}`).remove();
                        }, 200);
                        let notifCount = $("#numberNotification").text();
                        if (notifCount > 0)
                            $("span#numberNotification").each((i, element) => {
                                if (!$(`#${id}`).hasClass('seen') && parseInt($(element).text()) > 0)
                                    $(element).text(notifCount - 1)
                            });
                        // disable effacer les notifications
                        if ($('.notification-item').length === 0)
                            $('.notification-options > button.delete').attr('disabled', '');
                    }
                },
                error: function(err) {
                    console.error(err)
                }
            });

        }

        function removeAllNotifications() {
            // supprimer toutes les notifications
            $.ajax({
                url: "/removeall-notification",
                method: "DELETE",
                success: function (data) {
                    if (data.ok) {
                        $('#notifContent > div').each((index, element) => {
                            setTimeout(() => {
                                $(element).addClass('removing');
                                setTimeout(() => {
                                    $("span#numberNotification").each((i, element) => {
                                        $(element).text(0)
                                    });
                                    $(element).remove();
                                }, 300);
                            }, index * 300);
                        });
                    } else {
                        console.log(data.message)
                    }
                },
                error: function(err) {
                    console.error(err)
                }
            });
        }

        function markAsRead(id) {
            // send request to the server
            if ($(`#${id}`).hasClass('seen')) return;
            
            $.ajax({
                url: `/markAsRead-notification/${id}`,
                method: "PUT",
                success: function (data) {
                    if (data.ok) {
                        $(`#${id}`).addClass('seen');
                        $(`#${id}`).removeAttr('onClick');
                        let notifCount = +$("#numberNotification").text();
                        if (notifCount > 0)
                            $("span#numberNotification").each((i, element) => {
                                $(element).text(notifCount - 1)
                            });
                    }
                },
                error: function(err) {
                    console.error(err)
                }
            });
        }

        function markAllAsRead() {
            $.ajax({
                url: "/markAsReadAll-notification",
                method: "PUT",
                success: function (data) {
                    if (data.ok) {
                        $('#notifContent > div').each((index, element) => {
                            $(element).addClass('seen');
                            $("span#numberNotification").each((i, element) => {
                                $(element).text(0)
                            });
                            
                            $('.notification-options > button.mark').attr('disabled', '');
                        });
                    }
                },
                error: function(err) {
                    console.error(err)
                }
            });
        }
        var profil_input = document.getElementById("file-upload")
        function profil_click() {
        profil_input.click();
        }
        var imageUrl = "";

(function () {
  function Init() {
    var fileSelect = document.getElementById('file-upload');
    fileSelect.addEventListener('change', fileSelectHandler, false);

  }

  function fileSelectHandler(e) {
    // Fetch FileList object
    var files = e.target.files || e.dataTransfer.files;

    // Process all File objects
    for (var i = 0, f; f = files[i]; i++) {
      resizeImage(f, 640 * 480, function (blob) {

        // Do something with the resized image blob.
        imageUrl = URL.createObjectURL(blob);
        uploadFile(blob, files[0].name);
      });

    }
  }
  function resizeImage(file, maxSize, callback) {
    const reader = new FileReader();
    reader.onload = function () {
      const image = new Image();
      image.onload = function () {
        const canvas = document.createElement('canvas');
        const ctx = canvas.getContext('2d');
        let width = image.width;
        let height = image.height;
        let scale = 1;

        // Scale the image down to fit within the maximum file size.
        while ((width * height * scale * scale) > maxSize) {
          scale -= 0.1;
        }

        // Resize the image using the canvas element.
        canvas.width = width * scale;
        canvas.height = height * scale;
        ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

        // Convert the canvas back to a Blob and pass it to the callback function.
        canvas.toBlob(function (blob) {
          callback(blob);
        }, file.type, 0.8);
      }
      image.src = reader.result;
    }
    reader.readAsDataURL(file);
  }



  function uploadFile(file, name) {

    var xhr = new XMLHttpRequest();

    // File received / failed
    xhr.onreadystatechange = function (e) {
      if (xhr.readyState == 4) {
        if (xhr.responseText == "Ok") {
          document.getElementById("my_profil").setAttribute("src", imageUrl);
        }
      }
    };

    // Start upload
    xhr.open('POST', "profil", true);
    var filedata = new FormData();
    filedata.append("fileup", file);
    filedata.append("names", name);
    xhr.send(filedata);
  }

  // Check for the various File API support.
  if (window.File && window.FileList && window.FileReader) {
    Init();
  } else {

  }
})();
    </script>
    <script src="../jsDTB/no-connection.js"></script>
</body>

</html>