<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espace employer</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="/assets/vendor/bootstrap/css/bootstrap.min.css"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
  />
  <link
  rel="stylesheet"
  type="text/css"
  href="/cssDTB/space.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/cssDTB/home.css"
/>
<link
rel="stylesheet"
type="text/css"
href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
/>
<link
rel="stylesheet"
type="text/css"
href="/assets/fontawesome-free-6.4.0-web/css/all.css"
/>
</head>
<body>
    <div class="mr-5 ml-5 p-0 element-container">
        <div class=" mt-3 menu-container">
            <div class="d-flex justify-content-between menu">
                <div class="logo">
                    <img class="img-logo" src="assets/images/solumada-logo.png"/>
                </div>
                <div class="menu mt-1">
                    <a href="/mySpace" class="text-menu active-menu mx-2">
                        Accueil
                    </a>
                    <a href="RequestLeave" class="text-menu mx-2">
                        Demande d'absence
                    </a>
                    <a href="SalaryAdvance" class="text-menu mx-2">
                        Avance sur salaire
                    </a>
                    <a href="News" class="text-menu mx-2">
                        Solumada News
                    </a>
                </div>
                <div class="notif d-flex justify-content-end mt-2">
                    <i class="fa-solid fa-envelope icons mx-3"></i>
                    <i class="fa-solid fa-bell icons mx-3"></i>
                    <i class="fa-solid fa-power-off icons mx-3"></i>
                </div>
            </div>
        </div>
        <div class="content-home mt-2">
            <div class="quote">
                <h3>UNE EQUIPE, ENSEMBLE NOUS AVANCONS.</h3>
            </div>
            <div class="container h-100">
                <div class="welcome-space">
                    <div class="text-container mx-5">
                        <h2 class="mb-4 text-welcome">BIENVENUE DANS VOTRE ESPACE</h2>
                        <div class="text-center mb-lg-5">
                            <h2 class="text-name"><%= user.usuel %></h2>
                        </div>
                        
                    </div>
                    <div class="img-container">
                            <img class="img-content" src="../Profil/<%= user.profil %>"/>
                    </div>
                </div>
                <div class="footer-text mt-3"><p>Solumada copyright 2024</p></div>
            </div>
        </div>
    </div>
    
    
</body>
</html>