<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="solumada-clocking" />
    <meta name="description" content="solumada-clocking" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Liste des absences</title>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/images1/logo.jpg"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/extra-libs/multicheck/multicheck.css"
    />
    <link
      href="../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css1/newmain_gen.css"
    />
    <link
      rel="stylesheet"
      href="assets/libs/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css1/feuillev2.css" />
    <link href="../dist/css/style.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/fontawesome-free-6.4.0-web/css/all.css"
    />

    <link rel="stylesheet" href="assets/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="cssDTB/notification.css">
    <script>
      var role =  '<%= role %>';
   </script>
  </head>

  <body>
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <div
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin5"
      data-sidebartype="full"
      data-sidebar-position="absolute"
      data-header-position="absolute"
      data-boxed-layout="full"
    >
      <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
          <div class="navbar-header" data-logobg="skin5">
            <a class="navbar-brand" href="/">
              <b class="logo-icon ps-2">
                <img
                  src="../assets/images1/logo.jpg"
                  alt="homepage"
                  class="light-logo"
                  width="45"
                />
              </b>
              <span class="logo-text ms-3">
                <!-- dark Logo text -->
                <b>SOLUMADA</b>
              </span>
            </a>
            <a
              class="nav-toggler waves-effect waves-light d-block d-md-none"
              href="javascript:void(0)"
              ><i class="ti-menu ti-close"></i
            ></a>
          </div>
          <div
            class="navbar-collapse collapse"
            id="navbarSupportedContent"
            data-navbarbg="skin5"
          >
            <ul class="navbar-nav float-start me-auto"></ul>
            <ul class="navbar-nav float-end">
              <% if (show_another != "n") { %>
              <li style="padding: 15px; margin-left: 5px">
                <form action="/change_interface" method="post">
                  <input type="hidden" name="mail" value="<%= username %>" />
                  <input type="hidden" name="opt" value="c" />
                  <button type="submit" class="btn btn-primary text-white">
                    <i class="mdi mdi-exit-to-app" width="31">INFOS CONGE</i>
                  </button>
                </form>
              </li>
              <% } %>
              <li style="padding: 15px">
                <form action="/change_interface" method="post">
                  <input type="hidden" name="mail" value="<%= username %>" />
                  <input type="hidden" name="opt" value="p" />
                  <button type="submit" class="btn btn-info mx-5 text-white">
                    <i class="mdi mdi-exit-to-app" width="31"> MON ESPACE</i>
                  </button>
                </form>
              </li>
              <li class="nav-item">
                <button class="nav-link notif-btn" href="#" role="button"
                onclick="openNotif(this)">
                  <i class="font-24 mdi mdi-bell"><span style="color:red" id="nbr-notif" class="badge">0</span></i>
                </button>
                <ul hidden class="
                      dropdown-menu dropdown-menu-end
                      mailbox
                      animated
                      bounceInDown
                    " aria-labelledby="2">
                  <ul id="card-notif" class="list-style-none">
                    <li>
                      <div class="">
                        <!-- Notif -->
                        <a href="javascript:void(0)" class="link border-top">
                          <div class="d-flex no-block align-items-center p-10">
                            <span class="
                                btn btn-success btn-circle
                                d-flex
                                align-items-center
                                justify-content-center
                              "><i id="ring" class="mdi mdi-bell text-white fs-4"></i>
                            </span>
                            <div class="ms-2">
                              <h5 class="mb-0">Notification aujourd'hui</h5>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>
                  </ul>
                </ul>
              </li>
              <li class="nav-item dropdown d-flex p-1">
                <a
                class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
              >
              <div class="content-circle">
                <img
                  src="../Profil/<%= dataUser.profil %>"
                  alt="user"
                  class="img-circle"
                />
              </div>
                
              </a>
              <div class="d-flex justify-content-center flex-column">
                <span class="name-admin"><%= dataUser.usuel %></span>
                <div><a class="logout" href="/exit_a">Se déconnecter</a></div>
              </div>
            </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/managementtl"
                  aria-expanded="false"
                  ><i class="fa-solid fa-users"></i>
                  <span class="hide-menu">Status</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/pointagetl"
                  aria-expanded="false"
                  ><i class="fa-solid fa-book-open"></i>
                  <span class="hide-menu">Tableau des pointages</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/absencetl"
                  aria-expanded="false"
                  ><i class="mdi mdi-border-inside"></i
                  ><span class="hide-menu">Tableau des absences</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/validelatetl"
                  aria-expanded="false"
                  ><i class="mdi mdi-alarm-check"></i
                  ><span class="hide-menu">Validation des retards</span></a
                >
              </li>
              
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/leaveTreated"
                  aria-expanded="false"
                  ><i class="fa-solid fa-envelope-open-text"></i>
                  <span class="hide-menu">Demandes traitées</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/leavePending"
                  aria-expanded="false"
                  ><i class="fa-solid fa-envelope"></i>
                  <span class="hide-menu">Demande de congé</span></a
                >
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <div class="page-wrapper">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <b class="logo-icon ps-2">
                <img
                  src="../assets/images1/logo.jpg"
                  alt="homepage"
                  class="light-logo"
                  width="45"
                />
              </b>
              <span class="logo-text ms-3">
                <b>LISTE DES ABSENCES</b>
              </span>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#"
                        ><i class="mdi mdi-calendar-clock"></i> List des
                        absences</a
                      >
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      <i class="mdi mdi-calendar-clock"></i> Employée
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid position-relative">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="col-md-6 mx-5 mt-3">
                  <hr />
                  <h4>Date d'absence</h4>
                  <div class="wrap-input100 validate-input text-center col-6">
                    <input
                      class="sheet-choice"
                      type="date"
                      id="datestart"
                      onchange="filter()"
                      name="datestart"
                    />
                  </div>
                  <hr />
                </div>

                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6 pull-left"></div>
                  </div>
                  <br />
                  <div class="table-responsive">
                    <table
                      id="zero_config"
                      class="table table-striped table-bordered"
                    >
                      <thead>
                        <tr>
                          <th>Nom et Prénom</th>
                          <th>M-Code</th>
                          <th id="filtrate">Date</th>
                          <th>Debut</th>
                          <th>Fin</th>
                          <th>Motif de l'absence</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- notification modal -->
          <div class="notification-modal">
            <h2>
                <i class="fa-solid fa-bell icons"></i>
                Notifications:
            </h2>
            <div class="notification-options">
              <button type="button" class="mark" onclick="markAllAsRead()">Marquer tous comme lu</button>
              <button type="button" class="delete" onclick="removeAllNotifications()">Effacer les notifications</button>
            </div>
            <div id="notifContent" class="notification-list">
              
            </div>
          </div>

        </div>
      </div>
    </div>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="../dist/js/waves.js"></script>
    <script src="../dist/js/sidebarmenu.js"></script>
    <script src="../dist/js/custom.min.js"></script>
    <script src="../assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="../assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="../assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="assets/magnific-popup/magnific-popup.js"></script>
    <script src="assets/js1/examples.modals.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
    <script src="/js_code/momentz.js"></script>
    <script src="/js_code/socket.js"></script>
    <script src="/js_code/absenceDataFiltering.js"></script>
    <script src="/jsDTB/notification.js"></script>
    <script>
      var notif = JSON.parse(String.raw`<%-JSON.stringify(notif)%>`);
      var socket = io();
      const audio = new Audio("ring.wav");
      socket.on("notif", function (msg) {
        var theNotif = msg[1];
      var concerned = msg[0];
        if (concerned.includes(role)){
        const title = theNotif.title.replace(/<\/?[^>]+(>|$)/g, "");
        const notification = new Notification(title, {
                     body: `${theNotif.content}`,
                    icon:  '../assets/images1/logo.jpg',
            })
        pushNotification(theNotif,role)
        audio.play();
          }
      });
      setnotification(notif);
    </script>
  </body>
</html>
