<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="solumada-clocking" />
  <meta name="description" content="solumada-clocking" />
  <meta name="robots" content="noindex,nofollow" />
  <title>Liste des avances</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/images1/logo.jpg" />
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/css1/newmain_gen.css" />
  <link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.css" />
  <link href="../dist/css/style.min.css" rel="stylesheet" />
  <link href="assets/css1/showLeaveEmployee.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/assets/fontawesome-free-6.4.0-web/css/all.css" />
  <link rel="stylesheet" href="cssDTB/notification.css">
  <link rel="stylesheet" href="cssDTB/allRequest.css">
  <link rel="stylesheet" href="cssDTB/RequestSalary.css">
  <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

  <script>
    var role = '<%= role %>';
  </script>
  <style>
    
    #avanceDateForm input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    #avanceDateForm input:hover {
      border: 1px solid #ccc !important;
    }
    
    .checkbox-group label {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 5px;
    }

    .btn:not(.loading) .load,
    .btn.loading .normal {
      display: none;
    }
    .btn.loading .load,
    .btn:not(.loading) .normal {
      display: block;
    }
    .btn.loading {
      opacity: 0.7;
      cursor: not-allowed;
    }
  </style>
</head>

<body>
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>

  <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
    data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <header class="topbar" data-navbarbg="skin5">
      <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header" data-logobg="skin5">
          <a class="navbar-brand" href="/">
            <b class="logo-icon ps-2">
              <img src="../assets/images1/logo.jpg" alt="homepage" class="light-logo" width="45" />
            </b>
            <span class="logo-text ms-3">
              <b>SOLUMADA</b>
            </span>
          </a>
          <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
              class="ti-menu ti-close"></i></a>
        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
          <ul class="navbar-nav float-start me-auto"></ul>
          <ul class="navbar-nav float-end">
            <li style="padding: 15px">
              <form action="/change_interface" method="post">
                <input type="hidden" name="mail" value="<%= username %>" />
                <input type="hidden" name="opt" value="p" />
                <button type="submit" class="btn btn-info mx-5 text-white">
                  <i class="mdi mdi-exit-to-app" width="31"> MON ESPACE</i>
                </button>
              </form>
            </li>
            <li class="nav-item">
              <button class="nav-link notif-btn" href="#" role="button" onclick="openNotif(this)">
                <i class="font-24 mdi mdi-bell"><span style="color:red" id="nbr-notif" class="badge">0</span></i>
              </button>
              <ul hidden class="
                      dropdown-menu dropdown-menu-end
                      mailbox
                      animated
                      bounceInDown
                    " aria-labelledby="2">
                <ul id="card-notif" class="list-style-none">
                  <li>
                    <div class="">
                      <!-- Notif -->
                      <a href="javascript:void(0)" class="link border-top">
                        <div class="d-flex no-block align-items-center p-10">
                          <span class="
                                btn btn-success btn-circle
                                d-flex
                                align-items-center
                                justify-content-center
                              "><i id="ring" class="mdi mdi-bell text-white fs-4"></i>
                          </span>
                          <div class="ms-2">
                            <h5 class="mb-0">Notification aujourd'hui</h5>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                </ul>
              </ul>
            </li>
            <li class="nav-item dropdown d-flex p-1">
              <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic">
                <div class="content-circle">
                  <img src="../Profil/<%= dataUser.profil %>" alt="user" class="img-circle" />
                </div>

              </a>
              <div class="d-flex justify-content-center flex-column">
                <span class="name-admin">
                  <%= dataUser.usuel %>
                </span>
                <div><a class="logout" href="/exit_a">Se déconnecter</a></div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="left-sidebar" data-sidebarbg="skin5">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav" class="pt-4">
            <li class="sidebar-item">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/home" aria-expanded="false"><i
                  class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/management" aria-expanded="false"><i
                  class="mdi mdi-border-inside"></i><span class="hide-menu">Status</span></a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/userlist" aria-expanded="false"><i
                  class="mdi mdi-account-key"></i><span class="hide-menu">Liste utilisateurs</span></a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/details" aria-expanded="false"><i
                  class="mdi mdi-calendar-range"></i><span class="hide-menu">Tableau des pointages</span></a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/fiche" aria-expanded="false"><i
                  class="far fa-file-pdf"></i><span class="hide-menu">Fiche de paie</span></a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/absencelist" aria-expanded="false"><i
                  class="mdi mdi-calendar-clock"></i><span class="hide-menu">Liste des absences</span></a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/validelate" aria-expanded="false"><i
                  class="mdi mdi-alarm-check"></i><span class="hide-menu">Validation retards</span></a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                aria-expanded="false"><i class="mdi mdi-account-off"></i><span class="hide-menu">Congé </span></a>
              <ul aria-expanded="false" class="collapse first-level">
                <li class="sidebar-item">
                  <a href="/leavelist" class="sidebar-link"><i class="mdi mdi-format-list-bulleted"></i><span
                      class="hide-menu">List des conges (global)</span></a>
                </li>
                <li class="sidebar-item">
                  <a href="/leaves" class="sidebar-link"><i class="mdi mdi-account-off"></i><span class="hide-menu">
                      SOLDES DES CONGES PAYES</span></a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/leaveTreated"
                    aria-expanded="false"><i class="fa-solid fa-envelope-open-text"></i>
                    <span class="hide-menu">Demandes traitées</span></a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/leavePending"
                    aria-expanded="false"><i class="fa-solid fa-envelope"></i>
                    <span class="hide-menu">Demande de congé</span></a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/suivi-conge"
                    aria-expanded="false"><i class="fa-solid fa-eye"></i>
                    <span class="hide-menu">Suivi de congé</span></a>
                </li>
              </ul>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                aria-expanded="false"><i class="mdi mdi-currency-usd"></i>
                <span class="hide-menu">Avance </span></a>
              <ul aria-expanded="false" class="collapse first-level">
                <li class="sidebar-item">
                    <a href="/acces-avanceurgent" class="sidebar-link"><i
                            class="mdi mdi-lock-open"></i><span class="hide-menu">Accès urgent</span></a>
                </li>
                <li class="sidebar-item">
                  <a href="/advancesalarylist" class="sidebar-link"><i class="mdi mdi-format-list-bulleted"></i><span
                      class="hide-menu">Liste des avances</span></a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/requestsalary"
                    aria-expanded="false"><i class="fa-solid fa-envelope"></i>
                    <span class="hide-menu">Demande des avances</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <div class="page-wrapper">
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <b class="logo-icon ps-2">
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
              <!-- Dark Logo icon -->
              <img src="../assets/images1/logo.jpg" alt="homepage" class="light-logo" width="45" />
            </b>
            <!--End Logo icon -->
            <!-- Logo text -->
            <span class="logo-text ms-3">
              <!-- dark Logo text -->
              <b>DEMANDE D'AVANCE SUR SALAIRE</b>
            </span>
            <div class="ms-auto text-end">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-format-list-bulleted"></i>Demande</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <i class="mdi mdi-format-list-bulleted"></i> Avance sur salaire
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid position-relative">

        <div class="row content-request">
          <div class="col-12">
            <div class="card">
              <div class="card-body">  
                <div class="header-request">  
                    <div class="buttons-tab d-flex justify-content-between" style="width: 100%;">  
                        <!-- Filter Dropdowns -->  
                        <div class="filter-dropdowns d-flex align-items-center">  
                            <select name="f-month" id="f-month" class="form-select"></select>  
                            <select name="f-year" id="f-year" class="form-select"></select>
                            <input type="text" placeholder="M-CODE..." id="searchMCODE" class="form-control"/>  
                        </div>  
                        <div>  
                            <button class="btn btn-success" id="exportBtn">Exporter</button>  
                        </div>  
                    </div>  
                </div>  
            
                <div class="coll-12 allRequest mt-2" id="content-allRequest">  
                    <div class="p-3" id="period-container">  
                        <!-- Form to set working dates -->  
                        <button class="btn btn-secondary" id="open-form">  
                            Changer les dates ouvrables <i class="fa-solid fa-chevron-up ms-2"></i>  
                        </button>  
                        <div class="form-container p-4 border my-3 bg-white" hidden>  
                            <h3>Définir les Dates Ouvrables</h3>  
                            <form id="avanceDateForm">  
                                <div class="row">  
                                    <div class="col-6">  
                                        <div class="form-group">  
                                            <label for="start_date">Date de début :</label>  
                                            <input type="date" id="start_date" name="start_date" class="form-control" required>  
                                        </div>  
                                    </div>  
            
                                    <div class="col-6">  
                                        <div class="form-group">  
                                            <label for="end_date">Date de fin :</label>  
                                            <input type="date" id="end_date" name="end_date" class="form-control" required>  
                                        </div>  
                                    </div>  
                                </div>  
            
                                <div class="form-group" hidden>  
                                    <label>Jours ouvrables :</label>  
                                    <div class="checkbox-group">  
                                        <label><input type="checkbox" name="working_days" value="1" checked> Lundi</label>  
                                        <label><input type="checkbox" name="working_days" value="2" checked> Mardi</label>  
                                        <label><input type="checkbox" name="working_days" value="3" checked> Mercredi</label>  
                                        <label><input type="checkbox" name="working_days" value="4" checked> Jeudi</label>  
                                        <label><input type="checkbox" name="working_days" value="5" checked> Vendredi</label>  
                                        <label><input type="checkbox" name="working_days" value="6"> Samedi</label>  
                                        <label><input type="checkbox" name="working_days" value="0"> Dimanche</label>  
                                    </div>  
                                </div>  
            
                                <div class="form-group" hidden>  
                                    <label for="holidays">Jours fériés :</label>  
                                    <div id="holidayFields" class="mb-2">  
                                        <!-- Les champs de jours fériés seront ajoutés ici -->  
                                    </div>  
                                    <button type="button" id="addHoliday" class="btn btn-outline-secondary">Ajouter un jour férié</button>  
                                </div>  
            
                                <input type="hidden" name="month" id="month">  
            
                                <button type="submit" id="submit" class="btn btn-primary">  
                                    <span class="load" style="display: none;">Mise à jour...</span>  
                                    <span class="normal">Mettre à jour</span>  
                                </button>  
                            </form>  
                        </div>  
                    </div>  
            
                    <div class="p-4">  
                        <div class="d-flex align-items-center justify-content-between">  
                            <h3 class="text-center" id="date-display">Août 2025</h3>  
                            <h3 class="text-center">Total: <b id="total-display">0</b></h3>
                        </div>
                        <button class="switch-button active-btn" id="avance-liste">Avance</button>
                        <button class=" switch-button " id="non-avance" >Autre</button>  
                        <div id="wrapper">
                          
                        </div>  
                        <div id="non-av" style="display: none">

                        </div>
                    </div>  
                    
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Fichier Javascript -->
  <script src="/js_code/socket.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
  <script src="/jsDTB/notification.js"></script>

  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
  <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
  <script src="../dist/js/waves.js"></script>
  <script src="../dist/js/sidebarmenu.js"></script>
  <script src="../dist/js/custom.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
  <script src="/jsDTB/avanceList.js"></script>
  <script>
    $('#open-form').on('click', function() {
      let $btn = $(this);
      let $i = $btn.find('i');
      let $container = $('.form-container');

      if (!$btn.hasClass('open')) {
        $btn.addClass('open');
        $container.removeAttr('hidden');
        $i.removeClass('fa-chevron-up').addClass('fa-chevron-down');
      } else {
        $container.attr('hidden', '');
        $btn.removeClass('open');
        $i.removeClass('fa-chevron-down').addClass('fa-chevron-up');
      }
    });

    $('#avanceDateForm').on('submit', async function(){
      event.preventDefault();
      let $form = $(this);
      const serialized = $form.serializeArray();

      const body = serialized.reduce((acc, { name, value }) => {
        if (acc[name] !== undefined) {
            // If the property already exists, make sure it's an array and then push the value
            if (!Array.isArray(acc[name])) {
                acc[name] = [acc[name]]; // Convert to array if it's not already
            }
            acc[name].push(value);
        } else {
            // If it's the first occurrence, directly assign the value
            acc[name] = value;
        }
        return acc;
      }, {});

      // loading btn
      let $btn = $form.find('button#submit');
      $btn.addClass('loading');

      const res = await fetch('/api/avance/addperiod', {
        method: 'POST',
        body: JSON.stringify(body),
        headers: {
          'Content-Type': 'application/json'
        }
      });

      const { data } = await res.json();

      if (data) {
        alert('Success')
      }
      
      $btn.removeClass('loading');
      
    });

  </script>
</body>

</html>