<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="solumada-clocking" />
  <meta name="description" content="solumada-clocking" />
  <meta name="robots" content="noindex,nofollow" />
  <title>Demande des congés</title>
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/images1/logo.jpg" />
  <!-- Fichier CSS -->
  <link rel="stylesheet" type="text/css" href="../assets/extra-libs/multicheck/multicheck.css" />
  <link href="../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/assets/css1/newmain_gen.css">
  <link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="assets/css1/pick.css">
  <link href="../dist/css/style.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="/assets/fontawesome-free-6.4.0-web/css/all.css">
  <link rel="stylesheet" href="cssDTB/allRequest.css">
  <link rel="stylesheet" type="text/css" href="/assets/css1/checkbox.css" />
  <link rel="stylesheet" href="cssDTB/notification.css">
  <script>
  var users = JSON.parse(`<%-JSON.stringify(users)%>`)
  var allPermission = JSON.parse(`<%-JSON.stringify(allPermission)%>`)
  var role =  '<%= role %>';
  </script>
  <style>
    .search {
      display: flex;
      gap: 4px;
      border: 1px solid #dadada;
      padding: 1px 6px;
      border-radius: 8px;
      min-width: 220px;
    }
    .search > input {
      width: 100%;
    }
  </style>
</head>

<body>

  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
    data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin5">
      <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header" data-logobg="skin5">
          <!-- ============================================================== -->
          <!-- Logo -->
          <!-- ============================================================== -->
          <a class="navbar-brand" href="/">
            <!-- Logo icon -->
            <b class="logo-icon ps-2">
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
              <!-- Dark Logo icon -->
              <img src="../assets/images1/logo.jpg" alt="homepage" class="light-logo" width="45" />
            </b>
            <!--End Logo icon -->
            <!-- Logo text -->
            <span class="logo-text ms-3">
              <!-- dark Logo text -->
              <b>SOLUMADA</b>
            </span>
          </a>
          <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
              class="ti-menu ti-close"></i></a>

        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav float-start me-auto">

            <!-- ============================================================== -->
            <!-- create new -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Search -->
            <!-- ============================================================== -->
          </ul>
          <!-- ============================================================== -->
          <!-- Right side toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav float-end">
            <!-- ============================================================== -->
            <!-- Comment -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Comment -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Messages -->
            <!-- ============================================================== -->
            <li class="nav-item">
              <button class="nav-link notif-btn" href="#" role="button"
              onclick="openNotif(this)">
                <i class="font-24 mdi mdi-bell"><span style="color:red" id="nbr-notif" class="badge">0</span></i>
              </button>
              <ul hidden class="
                    dropdown-menu dropdown-menu-end
                    mailbox
                    animated
                    bounceInDown
                  " aria-labelledby="2">
                <ul id="card-notif" class="list-style-none">
                  <li>
                    <div class="">
                      <!-- Notif -->
                      <a href="javascript:void(0)" class="link border-top">
                        <div class="d-flex no-block align-items-center p-10">
                          <span class="
                              btn btn-success btn-circle
                              d-flex
                              align-items-center
                              justify-content-center
                            "><i id="ring" class="mdi mdi-bell text-white fs-4"></i>
                          </span>
                          <div class="ms-2">
                            <h5 class="mb-0">Notification aujourd'hui</h5>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                </ul>
              </ul>
            </li>
            <!-- ============================================================== -->
            <!-- End Messages -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown d-flex p-1">
              <a
              class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
            >
            <div class="content-circle">
              <img
                src="../Profil/<%= dataUser.profil %>"
                alt="user"
                class="img-circle"
              />
            </div>
              
            </a>
            <div class="d-flex justify-content-center flex-column">
              <span class="name-admin"><%= dataUser.usuel %></span>
              <div><a class="logout" href="/exit_a">Se déconnecter</a></div>
            </div>
          </li>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
          </ul>

        </div>
      </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin5">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav" class="pt-4">
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/home"
                aria-expanded="false"
                ><i class="mdi mdi-view-dashboard"></i
                ><span class="hide-menu">Dashboard</span></a
              >
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/management"
                aria-expanded="false"
                ><i class="mdi mdi-border-inside"></i
                ><span class="hide-menu">Status</span></a
              >
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/userlist"
                aria-expanded="false"
                ><i class="mdi mdi-account-key"></i
                ><span class="hide-menu">Liste utilisateurs</span></a
              >
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/details"
                aria-expanded="false"
                ><i class="mdi mdi-calendar-range"></i
                ><span class="hide-menu">Tableau des pointages</span></a
              >
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/fiche"
                aria-expanded="false"
                ><i class="far fa-file-pdf"></i
                ><span class="hide-menu">Fiche de paie</span></a
              >
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/absencelist"
                aria-expanded="false"
                ><i class="mdi mdi-calendar-clock"></i
                ><span class="hide-menu">Liste des absences</span></a
              >
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/validelate"
                aria-expanded="false"
                ><i class="mdi mdi-alarm-check"></i
                ><span class="hide-menu">Validation retards</span></a
              >
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link has-arrow waves-effect waves-dark"
                href="javascript:void(0)"
                aria-expanded="false"
                ><i class="mdi mdi-account-off"></i
                ><span class="hide-menu">Congé </span></a
              >
              <ul aria-expanded="false" class="collapse first-level">
                <li class="sidebar-item">
                  <a href="/leavelist" class="sidebar-link"
                    ><i class="mdi mdi-format-list-bulleted"></i
                    ><span class="hide-menu"
                      >List des conges (global)</span
                    ></a
                  >
                </li>
                <li class="sidebar-item">
                  <a href="/leaves" class="sidebar-link"
                    ><i class="mdi mdi-account-off"></i
                    ><span class="hide-menu"> SOLDE DES CONGES PAYES</span></a
                  >
                </li>
                <li class="sidebar-item">
                  <a
                    class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="/leaveTreated"
                    aria-expanded="false"
                    ><i class="fa-solid fa-envelope-open-text"></i>
                    <span class="hide-menu">Demandes traitées</span></a
                  >
                </li>
                <li id="pageLeave" class="sidebar-item">
                  <a
                    class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="/leavePending"
                    aria-expanded="false"
                    ><i class="fa-solid fa-envelope"></i>
                    <span class="hide-menu">Demande de congé</span></a
                  >
                </li>
                <li class="sidebar-item">
                  <a
                    class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="/suivi-conge"
                    aria-expanded="false"
                    ><i class="fa-solid fa-eye"></i>
                    <span class="hide-menu">Suivi de congé</span></a
                  >
                </li>
              </ul>
            </li>
            <li class="sidebar-item" hidden>
              <a
                class="sidebar-link has-arrow waves-effect waves-dark"
                href="javascript:void(0)"
                aria-expanded="false"
                ><i class="mdi mdi-currency-usd"></i>
                <span class="hide-menu">Avance </span></a
              >
              <ul aria-expanded="false" class="collapse first-level">
                <li class="sidebar-item">
                  <a href="/advancesalarylist" class="sidebar-link"
                    ><i class="mdi mdi-format-list-bulleted"></i
                    ><span class="hide-menu"
                      >List des avances</span
                    ></a
                  >
                </li>
                <li class="sidebar-item">
                  <a
                    class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="/requestsalary"
                    aria-expanded="false"
                    ><i class="fa-solid fa-envelope"></i>
                    <span class="hide-menu">Demande des salaires</span></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <b class="logo-icon ps-2">
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
              <!-- Dark Logo icon -->
              <img src="../assets/images1/logo.jpg" alt="homepage" class="light-logo" width="45" />
            </b>
            <!--End Logo icon -->
            <!-- Logo text -->
            <span class="logo-text ms-3">
              <!-- dark Logo text -->
              <b>DEMANDE DES CONGES</b>
            </span>
            <div class="ms-auto text-end">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-format-list-bulleted"></i>Demande</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <i class="mdi mdi-format-list-bulleted"></i> Congés
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid position-relative">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        
        <div class="row content-request">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="col-12">
                  <div class="header-request">
                    <div class="buttons-tab" style="width: 100%;">
                      <!-- <button data-target="#allRequest" class="switch-button active-btn">
                          Tout les requêtes (<span>0</span>)
                      </button> -->
                      <button data-target="#highRequest" class="switch-button active-btn">
                          Urgentes (<span>0</span>)
                      </button>
                      <button data-target="#mediumRequest" class="switch-button">
                          Moyennes (<span>0</span>)
                      </button>
                      <button data-target="#lowRequest" class="switch-button">
                          Basses (<span>0</span>)
                      </button>
                      <div class="mx-auto">
                        <div class="search">
                          <i class="mdi mdi-magnify font-24"></i>
                          <input type="search" placeholder="Chercher..." id="global-search">
                        </div>
                      </div>
                      <button data-target="#listeGerant" id="btnListGerant" class="switch-button">
                        Gerant list (<span>0</span>)
                      </button>
                  </div>
                  <div id="notification" class="notice-success">
                    Requête acceptée
                </div>
                  </div>
                <div class="col-12 allRequest mt-2" id="content-allRequest">
                    <div class="card-item" id="allRequest" hidden>
                      <!-- to show all requests -->
                    </div>
                    <div class="card-item" id="highRequest"></div>
                    <div class="card-item" id="mediumRequest" hidden></div>
                    <div class="card-item" id="lowRequest" hidden></div>
                    <div class="card-item" id="gerantList" hidden></div>
                </div>
                </div>
              <div id="ModalAccord" class="modal_conge">
                <div class="modal_delete">
                  <div class="row">
                    <div class="col-md-6">
                      <span class="logo-text mt-3">
                        <!-- dark Logo text -->
                        <b>ACCORD DE CONGE</b>
                      </span>
                    </div>
                  </div>
                  <p id="codeAccept" class="warn-text mt-4">
                    Voulez vous vraiment accepter l'absence de M-FAM
                  </p>
                  <div class="d-flex justify-content-between">
                    <div class="col-md-8">
                      <label id="title" for="type_leave">Veuillez séléctionner le type de congé:</label>
                      <select class="mt-3 typeLeave" id="typeLeave">
                        <option value="">Type de congé</option>
                        <option value="Congé Payé">
                          Congé Payé ( rien à déduire )
                        </option>
                        <option value="Congé sans solde">
                          Congé Sans Solde ( à déduire sur salaire )
                        </option>
                        <option value="Permission exceptionelle">
                          Permission exceptionelle ( rien à déduire )
                        </option>
                        <option value="Repos Maladie">
                          Repos Médical ( rien à déduire )
                        </option>
                        <option value="Consultation médicale">
                          Consultation médicale ( rien à déduire )
                        </option>
                        <option value="Absent">
                          Absent ( à déduire sur salaire )
                        </option>
                        <option value="Congé de maternité">
                          Congé de maternité ( rien à déduire )
                        </option>
                        <option value="Mise a Pied">
                          Mise a pied ( à déduire sur salaire )
                        </option>
                        <option value="Assistance maternelle">
                          Assistance maternelle ( rien à déduire )
                        </option>
                        <option value="Absence Injustifiée">
                          Absence Injustifiée ( à déduire sur salaire )
                        </option>
                        <option value="Récupération">
                          Récupération
                        </option>
                      </select>
                    </div>
                    <div id="orderCheck" class="col-md-4 container-order"> 
                      <div>
                          <label class="text-center">Par ordre</label>
                      </div>
                      <div class="d-flex justify-content-between gap-5">
                        <div class="d-flex flex-column text-center">
                          <input id="sayYes" type="checkbox" class="checking" value="yes" onchange="checkboxControl(this, 'yes')">
                          <label>Oui</label>
                        </div>
                        <!-- <div class="d-flex flex-column text-center">
                          <input id="sayNo" type="checkbox" class="checking" value="no" onchange="checkboxControl('no')" checked>
                          <label>NON</label>
                        </div> -->
                      </div>
                  </div>
                  </div>
                  <div id="typeGranted" class="d-none">
                      <div class="col-md-10">
                          <label id="title" for="type_leave">Choisissez le cas du permission || <b>Pris en <span id="thisYearPerm">2024</span>: <span id="numberPermission">10</span></b></label>
                        <select class="mt-1 typeLeave" id="exceptType">
                          <option value="Férié">Jour férié</option>
                          <option value="Décès">Décès (conjointe, sns)</option>
                          <option value="Décès (frères, soeurs)">Décès (frères,soeurs)</option>
                          <option value="Naissance">Naissance (enfant légitime)</option>
                          <option value="Mariage">Mariage (employé)</option>
                          <option value="Mariage (enfant légitime)">Mariage (enfant légitime)</option>
                          <option value="Exhumation">Exhumation (conjointe, sns)</option>
                          <option value="Exhumation (parents,beaux parents)">Exhumation (parents,beaux parents)</option>
                          <option value="Déménagement">Déménagement</option>
                          <option value="Circoncision">Circoncision</option>
                        </select>
                        <div id="alertPermission" class="d-none">
                          Cette type de permission a été déja prise cette année
                        </div>
                      </div>
                  </div>
                  <div id="typeRm" class="d-none">
                    <div class="col-md-10">
                        <label id="title" for="type_leave">Changer le motif en: </label>
                      <select class="mt-1 typeLeave" id="rmType">
                        <option value="">Par défaut</option>
                        <option value="Consultation médicale">Consultation médicale</option>
                        <option value="Assistance maternelle">Assistance maternelle</option>
                        <option value="Visite médicale">Visite médicale</option>
                      </select>
                    </div>
                  </div>
                  <!-- Motif -->
                  <div class="">
                    <input type="hidden" id="modal-duration">
                    <input id="motif-input" class="input-choice2 my-3" type="text" placeholder="Motif du congé (optionelle)" >
                  </div>
                  <!-- Q -->
                  <div class="form-group row">
                    <label class="col-md-3" ><p style="font-size:14px;font-weight: 500;">Quart / Démi / Une journée</p></label>
                    <div class="col-md-9">
                      <div class="form-check mr-sm-2">
                        <input type="checkbox" class="form-check-input" value="0.25" onclick="dissapearq(this)"
                          id="quart">
                        <label class="form-check-label mb-0" for="customControlAutosizing3"><p style="font-size:12px;font-weight: 500;">Quart de journée</p></label>
                        <div class="hide top_down" id="hour_absence">
                          <input type="time" class="time-leave" id="begin">
                          <p class="mx-5" style="font-size:12px;font-weight: 500;padding-top:15px;"> jusqu'à </p>
                        <input type="time" class="time-leave" id="end">
                        </div>
                      </div>
                      <div class="form-check mr-sm-2">
                        <input type="checkbox" onclick="dissapeard(this)" class="form-check-input" value="0.5" id="demi">
                        <label class="form-check-label mb-0" for="customControlAutosizing1"><p style="font-size:12px;font-weight: 500;">Démi journée</p></label>
                      </div>
                      <div class="form-check mr-sm-2">
                        <input type="checkbox" class="form-check-input" value="1" onclick="dissapearo(this)" id="one">
                        <label class="form-check-label mb-0" for="customControlAutosizing3"><p style="font-size:12px;font-weight: 500;">Une journée</p></label>
                      </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><p style="font-size:14px;font-weight: 500;">Nombre de jours:</p></label>
                            <input type="hidden" class="input-choice2date" id="default-nbr-day">
                            <input type="number" step="0.5" class="input-choice2date" id="nbr-day">
                          </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label><p style="font-size:14px;font-weight: 500;">Date de début</p></label>
                              <input type="date" class="input-choice2date" id="datestart" placeholder="Enter Date">
                            </div>
                      </div>
                      <div class="col-sm-6">
                          <div id="pde" class="form-group">
                              <label><p style="font-size:14px;font-weight: 500;">Date de fin</p></label>
                              <input type="date" class="input-choice2date" id="dateend" placeholder="Enter Date">
                            </div>
                      </div>
                  </div>

                  <div id="typeCp" class="d-none">
                      <div class="col-md-8 mt-1">
                        <div id="leaveLeft" class="container-order"> 
                          
                        </div>
                    </div>
                </div>
                  <p class="mt-3" id="begin_delete" class="">Le(s) projet(s) ou section impactés seront : </p>
                  <div class="allProject row" id="project">
                      
                  </div>
                  <div class="mt-3">
                    <button id="accept" onclick="ApproveLast()"  class="btn btn-sm btn-primary mx-1"><i style="opacity: 0;" id="waitingApprove" class="fa-solid fa-spinner fa-spin"></i> Confirmer <i class="fa-solid fa-check"></i></button>
                    <button id="cancel" onclick="closeModal()" class="btn btn-sm btn-danger mx-1">Annuler <i class="fa-solid fa-ban"></i></button>
                  </div>
                </div> 
              </div>
          </div>
          <input type="file" class="d-none" id="join">
          <div id="ModalPiece" class="modal_conge">
            <div class="modal_piece">
              <div class="row">
                <div class="text-center modal-dismiss mb-3">
                  <i onclick="closePiece()" class="fa-solid close-modal fa-circle-xmark"></i>
                </div>
                <div class="col-md-6">
                  <span class="logo-text mt-3">
                    <!-- dark Logo text -->
                    <b>PIECE JOINTE</b>
                    <p id="who"></p>
                  </span>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-end">
                  <button onclick="replacePiece()" class="btn btn-md btn-success">Remplacer la pièce <i class="fa-solid fa-file-pen"></i></button>
                </div>
              </div>
              <div class="d-flex justify-content-center align-items-center " id="PieceContent">

              </div>
             
            
            </div> 
          </div>
          <div id="ModalDecline" class="modal_conge">
            <div class="modal_delete">
              <div class="row">
                <div class="col-md-6">
                  <span class="logo-text mt-3">
                    <!-- dark Logo text -->
                    <b>REFUS DE CONGE</b>
                  </span>
                </div>
              </div>
              <p id="codeDecline" class="warn-text mt-4">
                Voulez vous vraiment refuser l'absence de M-FAM
              </p>
              <div class="refus-par-ordre" style="display: flex;">
                <span>Par ordre: </span>
                <div class="d-flex flex-column text-center">
                  <input id="refus-ordre" type="checkbox" class="checking" value="yes" onchange="checkboxControl(this, 'yes')">
                  <label>Oui</label>
                </div>
              </div>
              <textarea id="reason"></textarea>
              <div class="mt-3">
                <button id="accept" onclick="Decline()"  class="btn btn-sm btn-warning btn-send mx-1"><i style="opacity: 0;" id="waitingDecline" class="fa-solid fa-spinner fa-spin"></i> Envoyer <i class="fa-solid fa-envelope"></i></button>
                <button id="cancel" onclick="closeModal()" class="btn btn-sm btn-danger mx-1">Annuler <i class="fa-solid fa-ban"></i></button>
              </div>
            </div> 
          </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
      
        <!-- notification modal -->
        <div class="notification-modal">
          <h2>
              <i class="fa-solid fa-bell icons"></i>
              Notifications:
          </h2>
          <div class="notification-options">
            <button type="button" class="mark" onclick="markAllAsRead()">Marquer tous comme lu</button>
            <button type="button" class="delete" onclick="removeAllNotifications()">Effacer les notifications</button>
          </div>
          <div id="notifContent" class="notification-list">
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <!-- slimscrollbar scrollbar JavaScript -->
  <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
  <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
  <!--Wave Effects -->
  <script src="../dist/js/waves.js"></script>
  <!--Menu sidebar -->
  <script src="../dist/js/sidebarmenu.js"></script>
  <!--Custom JavaScript -->
  <script src="../dist/js/custom.min.js"></script>
  <!-- this page js -->
  <script src="../assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
  <script src="../assets/extra-libs/multicheck/jquery.multicheck.js"></script>
  <script src="../assets/extra-libs/DataTables/datatables.min.js"></script>
  <script src="assets/magnific-popup/magnific-popup.js"></script>
  <script src="assets/js1/examples.modals.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
  <script src="/js_code/socket.js"></script>
  <script>
    const USERID = "<%= dataUser._id %>";
    const RH_IDs = "<%= RH_Ids %>".split(',');
  </script>
  <script src="/jsDTB/accordingRequest.js"></script>
  <script src="/jsDTB/notification.js"></script>
  <script>
     var notif = JSON.parse(String.raw`<%-JSON.stringify(notif)%>`);
      var socket = io();
      const audio = new Audio("ring.wav");
      socket.on("notif", function (msg) {
        var theNotif = msg[1];
        var concerned = msg[0];
        if (concerned.includes(role)){
        const title = theNotif.title.replace(/<\/?[^>]+(>|$)/g, "");
        const notification = new Notification(title, {
                     body: `${theNotif.content}`,
                    icon:  '../assets/images1/logo.jpg',
            })
        UpdateRequest();
        pushNotification(theNotif,role)
        // audio.play();
          }
      });
      socket.on("isTreated", function (response){
      $(`#${response[0]}`).addClass("disabled")
    })
    if (role =="Admin"){
        socket.on("ropDone", function (msg){
        UpdateRequest();
      })
      socket.on("rhDone", function (msg){
        UpdateRequest();
      })
    }
    else {
      socket.on("rhDone", function (msg){
        UpdateRequest();
      })
    }
    setnotification(notif);
  </script>
</body>

</html>