<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="solumada-clocking" />
    <meta name="description" content="solumada-clocking" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Listes des employés</title>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/images1/logo.jpg"
    />
    <!-- Fichier requis CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/extra-libs/multicheck/multicheck.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/libs/select2/dist/css/select2.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/libs/jquery-minicolors/jquery.minicolors.css"
    />
    <link
      href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css1/newmain_gen.css"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css1/userLists.css" />
    <link
      rel="stylesheet"
      href="assets/libs/bootstrap/dist/css/bootstrap.css"
    />
    <link href="dist/css/style.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/fontawesome-free-6.4.0-web/css/all.css"
    />

    <link rel="stylesheet" href="assets/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="cssDTB/notification.css">
    <script>
      var role =  '<%= role %>';
   </script>
  </head>

  <body>
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <div
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin5"
      data-sidebartype="full"
      data-sidebar-position="absolute"
      data-header-position="absolute"
      data-boxed-layout="full"
    >
      <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
          <div class="navbar-header" data-logobg="skin5">
            <a class="navbar-brand" href="/">
              <b class="logo-icon ps-2">
                <img
                  src="../assets/images1/logo.jpg"
                  alt="homepage"
                  class="light-logo"
                  width="45"
                />
              </b>
              <span class="logo-text ms-3">
                <b>SOLUMADA</b>
              </span>
            </a>
            <a
              class="nav-toggler waves-effect waves-light d-block d-md-none"
              href="javascript:void(0)"
              ><i class="ti-menu ti-close"></i
            ></a>
          </div>
          <div
            class="navbar-collapse collapse"
            id="navbarSupportedContent"
            data-navbarbg="skin5"
          >
            <ul class="navbar-nav float-start me-auto"></ul>
            <ul class="navbar-nav float-end">
              <li style="padding: 15px">
                <form action="/change_interface" method="post">
                  <input type="hidden" name="mail" value="<%= username %>" />
                  <input type="hidden" name="opt" value="p" />
                  <button type="submit" class="btn btn-info mx-5 text-white">
                    <i class="mdi mdi-exit-to-app" width="31"> MON ESPACE</i>
                  </button>
                </form>
              </li>
              <li class="nav-item">
                <button class="nav-link notif-btn" href="#" role="button"
                onclick="openNotif(this)">
                  <i class="font-24 mdi mdi-bell"><span style="color:red" id="nbr-notif" class="badge">0</span></i>
                </button>
                <ul hidden class="
                      dropdown-menu dropdown-menu-end
                      mailbox
                      animated
                      bounceInDown
                    " aria-labelledby="2">
                  <ul id="card-notif" class="list-style-none">
                    <li>
                      <div class="">
                        <!-- Notif -->
                        <a href="javascript:void(0)" class="link border-top">
                          <div class="d-flex no-block align-items-center p-10">
                            <span class="
                                btn btn-success btn-circle
                                d-flex
                                align-items-center
                                justify-content-center
                              "><i id="ring" class="mdi mdi-bell text-white fs-4"></i>
                            </span>
                            <div class="ms-2">
                              <h5 class="mb-0">Notification aujourd'hui</h5>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>
                  </ul>
                </ul>
              </li>
              <li class="nav-item dropdown d-flex p-1">
                <a
                class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
              >
              <div class="content-circle">
                <img
                  src="../Profil/<%= dataUser.profil %>"
                  alt="user"
                  class="img-circle"
                />
              </div>
                
              </a>
              <div class="d-flex justify-content-center flex-column">
                <span class="name-admin"><%= dataUser.usuel %></span>
                <div><a class="logout" href="/exit_a">Se déconnecter</a></div>
              </div>
            </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/home"
                  aria-expanded="false"
                  ><i class="mdi mdi-view-dashboard"></i
                  ><span class="hide-menu">Dashboard</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/management"
                  aria-expanded="false"
                  ><i class="mdi mdi-border-inside"></i
                  ><span class="hide-menu">Status</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/userlist"
                  aria-expanded="false"
                  ><i class="mdi mdi-account-key"></i
                  ><span class="hide-menu">Liste utilisateurs</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/details"
                  aria-expanded="false"
                  ><i class="mdi mdi-calendar-range"></i
                  ><span class="hide-menu">Tableau des pointages</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/fiche"
                  aria-expanded="false"
                  ><i class="far fa-file-pdf"></i
                  ><span class="hide-menu">Fiche de paie</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/absencelist"
                  aria-expanded="false"
                  ><i class="mdi mdi-calendar-clock"></i
                  ><span class="hide-menu">Liste des absences</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/validelate"
                  aria-expanded="false"
                  ><i class="mdi mdi-alarm-check"></i
                  ><span class="hide-menu">Validation retards</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link has-arrow waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="mdi mdi-account-off"></i
                  ><span class="hide-menu">Congé </span></a
                >
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="/leavelist" class="sidebar-link"
                      ><i class="mdi mdi-format-list-bulleted"></i
                      ><span class="hide-menu"
                        >List des conges (global)</span
                      ></a
                    >
                  </li>
                  <li class="sidebar-item">
                    <a href="/leaves" class="sidebar-link"
                      ><i class="mdi mdi-account-off"></i
                      ><span class="hide-menu"> SOLDE DES CONGES PAYES</span></a
                    >
                  </li>
                  <li class="sidebar-item">
                    <a
                      class="sidebar-link waves-effect waves-dark sidebar-link"
                      href="/leaveTreated"
                      aria-expanded="false"
                      ><i class="fa-solid fa-envelope-open-text"></i>
                      <span class="hide-menu">Demandes traitées</span></a
                    >
                  </li>
                  <li class="sidebar-item">
                    <a
                      class="sidebar-link waves-effect waves-dark sidebar-link"
                      href="/leavePending"
                      aria-expanded="false"
                      ><i class="fa-solid fa-envelope"></i>
                      <span class="hide-menu">Demande de congé</span></a
                    >
                  </li>
                  <li class="sidebar-item">
                    <a
                      class="sidebar-link waves-effect waves-dark sidebar-link"
                      href="/suivi-conge"
                      aria-expanded="false"
                      ><i class="fa-solid fa-eye"></i>
                      <span class="hide-menu">Suivi de congé</span></a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <div class="page-wrapper">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <b class="logo-icon ps-2">
                <img
                  src="../assets/images1/logo.jpg"
                  alt="homepage"
                  class="light-logo"
                  width="45"
                />
              </b>
              <span class="logo-text ms-3">
                <!-- dark Logo text -->
                <b>LISTE DES EMPLOYER</b>
              </span>

              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#"
                        ><i class="mdi mdi-account-key"></i> Listes
                      </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      <i class="mdi mdi-account-key"></i> Employés
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="notif-container">
                  <div id="notif" class="col-12 notification"></div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-4 mb-3">
                      <a class="modal-with-form" href="#modal_add_user"
                        ><button type="button" class="btn btn-primary btn-md">
                          <i class="fa-regular fa-user mx-1"></i>
                          Nouvel employé
                        </button></a
                      >
                    </div>
                    <div class="col-sm-4 mb-3">
                      <select
                        class="sheet-choice2"
                        id="type"
                        onchange="searching()"
                      >
                        <option value="Actif" selected>Actif</option>
                        <option value="Quitter">Archive</option>
                        <option value="Admin">Administrateur</option>
                      </select>
                    </div>
                    <div class="col-sm-4 mb-3">
                      <input
                        id="searching"
                        class="input-choice2 mx-2"
                        type="text"
                        onkeyup="searching()"
                        placeholder="Rechercher ici..."
                      />
                      <button
                        onclick="searching()"
                        class="btn-circle btn-md btn-primary text-white"
                      >
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                  <div id="loading" class="loading">
                    <i
                      class="fa-solid fa-rotate fa-spin"
                      style="font-size: 35px"
                    ></i>
                    <span class="ms-3" style="font-size: 35px">
                      <!-- dark Logo text -->
                      <b>CHARGEMENT DES DONNEES ...</b>
                    </span>
                  </div>
                  <div id="nothing" class="loading">
                    <i
                      class="fa-solid fa-folder-open fa-shake"
                      style="font-size: 35px"
                    ></i>
                    <span class="ms-3" style="font-size: 35px">
                      <!-- dark Logo text -->
                      <b>Aucune Correspondance</b>
                    </span>
                  </div>
                  <br />
                  <div id="content"></div>
                  <div class="row mt-3" id="footer">
                    <div class="col-md-2 text-center">
                      <button class="navigation" id="previous" onclick="prev()">
                        <i class="fa-solid fa-circle-chevron-left"></i>
                      </button>
                    </div>
                    <div
                      class="col-md-8 d-flex justify-content-center align-items-center"
                      style="cursor: pointer"
                      id="row_number"
                    >
                      <!-- <div class="indicator mx-1"></div> -->
                    </div>
                    <div class="col-md-2 text-center">
                      <button class="navigation" id="nextin" onclick="next()">
                        <i class="fa-solid fa-circle-chevron-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        <!-- notification modal -->
        <div class="notification-modal">
          <h2>
              <i class="fa-solid fa-bell icons"></i>
              Notifications:
          </h2>
          <div class="notification-options">
            <button type="button" class="mark" onclick="markAllAsRead()">Marquer tous comme lu</button>
            <button type="button" class="delete" onclick="removeAllNotifications()">Effacer les notifications</button>
          </div>
          <div id="notifContent" class="notification-list">
            
          </div>
        </div>
        </div>
      </div>
      <!-- Modal add_user -->
      <div
        id="modal_add_user"
        class="modal-block modal-block-primary mfp-hide modal-employee"
      >
        <section class="card-body card-info">
          <div class="card-body">
            <div class="text-center modal-dismiss mb-3">
              <i class="fa-solid close-modal fa-circle-xmark"></i>
            </div>
            <h6 class="text-center" style="color: rgb(39, 36, 36)">
              INFORMATION SUR L'EMPLOYER
            </h6>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >E-MAIL</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="email"
                      id="add_email"
                      onkeyup="verify_add_input()"
                      class="add_user input-new_employee"
                      placeholder="Entrer l'email ici..."
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >NOM</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="add_nom"
                      onkeyup="verify_add_input();typing('n')"
                      class="add_user input-new_employee"
                      placeholder="Entrer le nom ici..."
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >PRENOM</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="add_prenom"
                      onkeyup="verify_add_input();typing('n')"
                      class="add_user input-new_employee"
                      placeholder="Entrer le prénom ici..."
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >PRENOM USUEL</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="add_usuel"
                      onkeyup="verify_add_input()"
                      class="add_user input-new_employee"
                      placeholder="Prénom usuel ici..."
                      required
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group mt-lg">
                      <label
                        class="col-sm-12 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >M-CODE</label
                      >
                      <div class="col-sm-12">
                        <input
                          type="text"
                          id="add_mcode"
                          onkeyup="verify_add_input()"
                          class="add_user input-new_employee"
                          placeholder="M-CODE ici..."
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group mt-lg">
                      <label
                        class="col-sm-12 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >NUMERO AGENT</label
                      >
                      <div class="col-sm-12">
                        <input
                          type="text"
                          id="add_num_agent"
                          onkeyup="verify_add_input()"
                          class="add_user input-new_employee"
                          placeholder="Numéro agent ici..."
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group mt-lg">
                      <label
                        class="col-sm-12 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >MATRICULE</label
                      >
                      <div class="col-sm-12">
                        <input
                          type="text"
                          id="add_matricule"
                          onkeyup="verify_add_input()"
                          class="add_user input-new_employee"
                          placeholder="Matricule ici..."
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="add_user form-group mt-lg">
                  <div class="row">
                    <div class="col-md-4">
                      <label
                        class="col-sm-6 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >FONCTION</label
                      >
                      <div class="col-sm-12">
                        <select
                          id="add_fonction"
                          class="input-new_employee add_user"
                          onchange="verify_add_input()"
                        >
                          <option value="">Choisir Fonction</option>
                          <option value="RH">RH</option>
                          <option value="MANAGER">MANAGER</option>
                          <option value="TL">Team Leader</option>
                          <option value="SHIFT 1">SHIFT 1</option>
                          <option value="SHIFT 2">SHIFT 2</option>
                          <option value="SHIFT 3">SHIFT 3</option>
                          <option value="SHIFT WEEKEND">SHIFT WEEKEND</option>
                          <option value="DEV">DEVELOPER</option>
                          <option value="GERANT">GERANT</option>
                          <option value="ENG">ANGLAIS</option>
                          <option value="IT">IT</option>
                          <option value="COURSIER">COURSIER</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <label
                        class="col-sm-6 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >TYPE D'UTILISATEUR</label
                      >
                      <div class="col-sm-12">
                        <select
                          id="add_occup"
                          class="input-new_employee add_user"
                          onchange="default_valueadd();verify_add_input()"
                        >
                          <option value="">
                            Choisir le type d'utilisateur
                          </option>
                          <option value="User">Utilisateur</option>
                          <option value="Admin">Administrateur</option>
                          <option value="Surveillant">Surveillant</option>
                          <option value="Opération">Opération</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >EMBAUCHE</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="date"
                      id="add_embauche"
                      onchange="verify_add_input()"
                      onkeyup="verify_add_input()"
                      class="add_user input-new_employee"
                      placeholder="Date d'embauche ici..."
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-4 text-center d-flex align-items-center justify-content-center flex-column" >
                <img
                  src="assets/images1/ls.jpg"
                  width="70%"
                  height="auto"
                  alt="IMG"
                />
                <h3
                  id="new_name"
                  class="text-center"
                  style="color: rgb(39, 36, 36)"
                ></h3>
                <img
                  style="width: auto; height: 350px; border-radius: 15px"
                  src="Profil/avatar.png"
                  alt="IMG"
                />
              </div>
              <div class="col-lg-4">
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >CIN</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="add_cin"
                      name="first"
                      onkeyup="verify_add_input()"
                      class="add_user input-new_employee"
                      placeholder="CIN ici..."
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <div class="row">
                    <div class="add_user col-md-6">
                      <label
                        class="col-sm-3 control-label text-label"
                        style="color: rgb(0, 0, 0)"
                        >SEXE</label
                      >
                      <div class="col-sm-12">
                        <select
                          id="add_sexe"
                          class="input-new_employee add_user"
                          onchange="verify_add_input()"
                        >
                          <option value="">Choisir Sexe</option>
                          <option value="Homme">Masculin</option>
                          <option value="Femme">Féminin</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label
                        class="col-sm-12 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >SITUATION FAMILIALE</label
                      >
                      <div class="add_user col-sm-12">
                        <select
                          id="add_situation"
                          class="input-new_employee add_user"
                          onchange="verify_add_input()"
                        >
                          <option value="">Situation Familiale</option>
                          <option value="Célibataire">Célibataire</option>
                          <option value="Marié(e)">Marié(e)</option>
                          <option value="Veuf / Veuve">Veuf / Veuve</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >ADRESSE</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="add_adresse"
                      onkeyup="verify_add_input()"
                      class="add_user input-new_employee"
                      placeholder="Entrer Adresse ici..."
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >NUMERO CNAPS</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="add_cnaps"
                      onkeyup="verify_add_input()"
                      class="add_user input-new_employee"
                      placeholder="Entrer numéro cnaps ici..."
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >CLASSIFICATION</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="add_class"
                      onkeyup="verify_add_input()"
                      class="add_user input-new_employee"
                      placeholder="Enter classification ici..."
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <div class="row">
                    <div class="col-md-7">
                      <label
                        class="col-sm-3 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >CONTRAT</label
                      >
                      <div class="col-sm-12">
                        <select
                          id="add_contrat"
                          onchange="verify_add_input()"
                          class="input-new_employee add_user"
                        >
                          <option value="">Type de contrat</option>
                          <option value="CDI">
                            Contrat à Durée Indéterminée (CDI)
                          </option>
                          <option value="CDD">
                            Contrat à Durée Déterminée (CDD)
                          </option>
                          <option value="INTERIM">
                            Contrat de Travail Temporaire
                          </option>
                          <option value="STAGE">Contrat de Stage</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <label
                        class="col-sm-12 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >FIN CONTRAT</label
                      >
                      <div class="col-sm-12">
                        <input
                          type="date"
                          id="add_date_fin"
                          onkeyup="verify_add_input()"
                          class="input-new_employee"
                        />
                      </div>
                    </div>
                  </div>
                  <br />
                  <footer class="card-footer">
                    <hr />
                    <div class="row d-flex align-items-center justify-content-center">
                      <div class="col-md-6 mt-1 mb-1">
                        <button
                          id="btn_add"
                          onclick="enregistrer()"
                          class="btn btn-primary height-btn modal-confirm"
                          disabled
                        >
                          ENREGISTRER <i class="fas fa-save"></i>
                        </button>
                      </div>
                    </div>
                    <hr />
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Modal Add USer -->
      <!-- Modal Form -->
      <a
        id="editing"
        style="display: none"
        class="mb-xs mt-xs mr-xs modal-basic"
        href="#modalForm"
      ></a>
      <div
        id="modalForm"
        class="modal-block modal-block-primary mfp-hide modal-employee"
      >
        <section class="card-body card-info">
          <div class="card-body">
            <div class="text-center modal-dismiss mb-3">
              <i class="fa-solid close-modal fa-circle-xmark"></i>
            </div>
            <h6
              class="text-center"
              style="color: rgb(0, 0, 0); font-weight: bolder"
            >
              INFORMATION SUR L'EMPLOYER
            </h6>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >E-MAIL</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="email"
                      id="up_email"
                      onkeyup="verify_up_input()"
                      class="up_user input-new_employee"
                      placeholder="Entrer l'email ici..."
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >NOM</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="up_nom"
                      onkeyup="verify_up_input();typing('u')"
                      class="up_user input-new_employee"
                      placeholder="Entrer le nom ici..."
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >PRENOM</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="up_prenom"
                      onkeyup="verify_up_input();typing('u')"
                      class="up_user input-new_employee"
                      placeholder="Entrer le prénom ici..."
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >PRENOM USUEL</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="up_usuel"
                      onkeyup="verify_up_input()"
                      class="up_user input-new_employee"
                      placeholder="Prénom usuel ici..."
                      required
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group mt-lg">
                      <label
                        class="col-sm-12 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >M-CODE</label
                      >
                      <div class="col-sm-12">
                        <input
                          type="text"
                          id="up_mcode"
                          onkeyup="verify_up_input()"
                          class="up_user input-new_employee"
                          placeholder="M-CODE ici..."
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group mt-lg">
                      <label
                        class="col-sm-12 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >NUMERO AGENT</label
                      >
                      <div class="col-sm-12">
                        <input
                          type="text"
                          id="up_num_agent"
                          onkeyup="verify_up_input()"
                          class="up_user input-new_employee"
                          placeholder="Numéro agent ici..."
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group mt-lg">
                      <label
                        class="col-sm-12 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >MATRICULE</label
                      >
                      <div class="col-sm-12">
                        <input
                          type="text"
                          id="up_matricule"
                          onkeyup="verify_up_input()"
                          class="up_user input-new_employee"
                          placeholder="Matricule ici..."
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="up_user form-group mt-lg">
                  <div class="row">
                    <div class="col-md-6">
                      <label
                        class="col-sm-12 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >FONCTION</label
                      >
                      <div class="col-sm-12">
                        <select
                          id="up_fonction"
                          class="input-new_employee"
                          onchange="verify_up_input()"
                        >
                          <option value="">Choisir Fonction</option>
                          <option value="RH">RH</option>
                          <option value="MANAGER">MANAGER</option>
                          <option value="TL">Team Leader</option>
                          <option value="SHIFT 1">SHIFT 1</option>
                          <option value="SHIFT 2">SHIFT 2</option>
                          <option value="SHIFT 3">SHIFT 3</option>
                          <option value="SHIFT WEEKEND">SHIFT WEEKEND</option>
                          <option value="DEV">DEVELOPER</option>
                          <option value="GERANT">GERANT</option>
                          <option value="ENG">ANGLAIS</option>
                          <option value="IT">IT</option>
                          <option value="COURSIER">COURSIER</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label
                        class="col-sm-12 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >TYPE D'UTILISATEUR</label
                      >
                      <select
                        id="up_occup"
                        class="input-new_employee"
                        onchange="default_valueup();verify_up_input()"
                      >
                        <option value="">Choisir le type d'utilisateur</option>
                        <option value="User">Utilisateur</option>
                        <option value="Admin">Administrateur</option>
                        <option value="Surveillant">Surveillant</option>
                        <option value="Operation">Operation</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >EMBAUCHE</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="date"
                      id="up_embauche"
                      onkeyup="verify_up_input()"
                      class="up_user input-new_employee"
                      placeholder="Date d'embauche ici..."
                      required
                    />
                  </div>
                </div>
              </div>
              <div
                class="col-lg-4 text-center"
                style="margin: auto 0 auto 0; overflow: hidden"
              >
                <img
                  src="assets/images1/ls.jpg"
                  width="70%"
                  height="auto"
                  alt="IMG"
                />
                <b
                  ><p
                    class="logo-text"
                    id="updated_name"
                    class="text-center"
                    style="color: rgb(39, 36, 36); font-size: large"
                  ></p
                ></b>
                <b
                  ><p id="project_user" class="logo-text mt-2">
                    PROJET(S) => AGROBOX ARCO BESSEMANS WILLMEN
                  </p></b
                >
                <b
                  ><p id="time_passed" class="logo-text">
                    ANCIENNETE => 3 ans
                  </p></b
                >
                <img
                  style="width: 70%; height: 350px; border-radius: 15px;object-fit: cover;"
                  src="Profil/avatar.png"
                  alt="IMG"
                  id="my_profil"
                />
              </div>
              <div class="col-lg-4">
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >CIN</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="up_cin"
                      name="first"
                      onkeyup="verify_up_input()"
                      class="up_user input-new_employee"
                      placeholder="CIN ici..."
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <div class="row">
                    <div class="up_user col-md-6">
                      <label
                        class="col-sm-3 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >SEXE</label
                      >
                      <div class="col-sm-12">
                        <select
                          id="up_sexe"
                          class="input-new_employee"
                          onchange="verify_up_input()"
                        >
                          <option value="">Choisir</option>
                          <option value="Homme">Masculin</option>
                          <option value="Femme">Féminin</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label
                        class="col-sm-12 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >SITUATION FAMILIALE</label
                      >
                      <div class="up_user col-sm-12">
                        <select
                          id="up_situation"
                          class="input-new_employee"
                          onchange="verify_up_input()"
                        >
                          <option value="">Situation familiale</option>
                          <option value="Célibataire">Célibataire</option>
                          <option value="Marié(e)">Marié(e)</option>
                          <option value="Veuf / Veuve">Veuf / Veuve</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >ADRESSE</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="up_adresse"
                      onkeyup="verify_up_input()"
                      class="up_user input-new_employee"
                      placeholder="Enter Adresse ici..."
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >NUMERO CNAPS</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="up_cnaps"
                      onkeyup="verify_up_input()"
                      class="up_user input-new_employee"
                      placeholder="Entrer numéro cnaps ici..."
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >CLASSIFICATION</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="up_class"
                      onkeyup="verify_up_input()"
                      class="up_user input-new_employee"
                      placeholder="Enter classification ici..."
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <label
                    class="col-sm-3 control-label text-label"
                    style="color: rgb(0, 0, 0); font-weight: bolder"
                    >CONTACT</label
                  >
                  <div class="col-sm-12">
                    <input
                      type="text"
                      id="phone"
                      class="up_user input-new_employee"
                      disabled
                    />
                  </div>
                </div>
                <div class="form-group mt-lg">
                  <div class="row">
                    <div class="col-md-7">
                      <label
                        class="col-sm-3 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >CONTRAT</label
                      >
                      <div class="col-sm-12">
                        <select
                          id="up_contrat"
                          class="input-new_employee up_user"
                        >
                          <option value="CDI">
                            Contrat à Durée Indéterminée (CDI)
                          </option>
                          <option value="CDD">
                            Contrat à Durée Déterminée (CDD)
                          </option>
                          <option value="INTERIM">
                            Contrat de Travail Temporaire
                          </option>
                          <option value="STAGE">Contrat de Stage</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <label
                        class="col-sm-12 control-label text-label"
                        style="color: rgb(0, 0, 0); font-weight: bolder"
                        >FIN CONTRAT</label
                      >
                      <div class="col-sm-12">
                        <input
                          type="date"
                          id="up_date_fin"
                          onkeyup="verify_up_input()"
                          class="input-new_employee"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <footer class="card-footer">
                  <hr />
                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-6 mt-1 mb-1">
                      <button
                        id="btn_up"
                        onclick="modifier()"
                        class="btn btn-primary height-btn modal-confirm"
                      >
                        METTRE A JOUR <i class="fas fa-save"></i>
                      </button>
                    </div>
                  </div>
                  <hr />
                </footer>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Modal Primary -->
      <a
        id="deleting"
        style="display: none"
        class="mb-xs mt-xs mr-xs modal-basic"
        href="#modalDanger"
      ></a>
      <div
        style="margin-left: 25%; background: rgba(233, 71, 30, 0.5); width: 50%"
        id="modalDanger"
        class="modal-block modal-block-danger mfp-hide"
      >
        <section class="card-body">
          <header class="panel-heading">
            <h2
              class="panel-title"
              style="color: aliceblue; font-weight: bolder"
            >
              Vous êtes sur ?
            </h2>
          </header>
          <div class="card-body">
            <div class="modal-wrapper">
              <div class="modal-icon">
                <i class="fa fa-times-circle"></i>
              </div>
              <div class="modal-text">
                <h4 style="color: aliceblue; font-weight: bolder">
                  Archiver l'employer / Réintegré l'employer
                </h4>
                <p id="textwarn"></p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <div class="row">
              <div class="col-md-12 text-right">
                <button
                  class="btn btn-primary modal-confirm mx-3"
                  onclick="confirm_del()"
                >
                  Confirmer <i class="fa-solid fa-check"></i>
                </button>
                <button class="btn btn-danger modal-dismiss">
                  Annuler <i class="fa-solid fa-ban"></i>
                </button>
              </div>
            </div>
          </footer>
        </section>
      </div>
    </div>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="../dist/js/waves.js"></script>
    <script src="../dist/js/sidebarmenu.js"></script>
    <script src="../dist/js/custom.min.js"></script>
    <script src="../assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="../assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="assets/magnific-popup/magnific-popup.js"></script>
    <script src="assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="assets/js1/examples.modals.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
    <script src="/js_code/momentz.js"></script>
    <script src="/js_code/memberControl.js"></script>
    <script src="/js_code/socket.js"></script>
    <script src="/jsDTB/notification.js"></script>
    <script>
     var notif = JSON.parse(String.raw`<%-JSON.stringify(notif)%>`);
      var socket = io();
      const audio = new Audio("ring.wav");
      socket.on("notif", function (msg) {
        var theNotif = msg[1];
      var concerned = msg[0];
        if (concerned.includes(role)){
        const title = theNotif.title.replace(/<\/?[^>]+(>|$)/g, "");
        const notification = new Notification(title, {
                     body: `${theNotif.content}`,
                    icon:  '../assets/images1/logo.jpg',
            })
        pushNotification(theNotif,role)
        audio.play();
          }
      });
    setnotification(notif);
    </script>
  </body>
</html>
