<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="solumada-clocking" />
    <meta name="description" content="solumada-clocking" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Urgence salaire</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images1/logo.jpg" />
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css1/newmain_gen.css" />
    <link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.css" />
    <link href="../dist/css/style.min.css" rel="stylesheet" />
    <link href="assets/css1/showLeaveEmployee.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/fontawesome-free-6.4.0-web/css/all.css" />
    <link rel="stylesheet" href="cssDTB/notification.css">
    <link rel="stylesheet" href="cssDTB/allRequest.css">
    <link rel="stylesheet" href="cssDTB/RequestSalary.css">
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">

    <script>
        var role = '<%= role %>';
    </script>
    <style>
        #avanceDateForm input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        #avanceDateForm input:hover {
            border: 1px solid #ccc !important;
        }

        .checkbox-group label {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 5px;
        }

        .btn:not(.loading) .load,
        .btn.loading .normal {
            display: none;
        }

        .btn.loading .load,
        .btn:not(.loading) .normal {
            display: block;
        }

        .btn.loading {
            opacity: 0.7;
            cursor: not-allowed;
        }
                
        .formulaire-container {
            background-color: white;
            padding: 25px;
            border-radius: 8px;
            /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
            min-width: 550px;
            max-width: 1050px;
            width: calc(100% - 180px);
            margin: 0 auto;
        }

        h2 {
            margin-bottom: 20px;
            font-size: 1.6em;
            color: #333;
        }

        label {
            margin-bottom: 8px;
            font-size: 0.9em;
            color: #555;
            display: block;
        }

        select, input {
            width: 100%;
            padding: 10px;
            margin: 10px 0 20px;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 1em;
        }
        input[type="date"]:hover {
            border: 1px solid #ddd !important;
        }

        select[multiple] {
            height: 220px;
        }

        .formulaire-acces button#submit {
            width: 100%;
            padding: 12px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
        }

        .formulaire-acces button#submit:hover {
            background-color: #0056b3;
        }

        /* Set the height of the visible select box */
        .choices__inner {
            min-height: 100px; /* Adjust this value as needed */
        }
        .content-request {
            min-height: calc(100vh - 170px);
        }
    </style>
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <a class="navbar-brand" href="/">
                        <b class="logo-icon ps-2">
                            <img src="../assets/images1/logo.jpg" alt="homepage" class="light-logo" width="45" />
                        </b>
                        <span class="logo-text ms-3">
                            <b>SOLUMADA</b>
                        </span>
                    </a>
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-start me-auto"></ul>
                    <ul class="navbar-nav float-end">
                        <li style="padding: 15px">
                            <form action="/change_interface" method="post">
                                <input type="hidden" name="mail" value="<%= username %>" />
                                <input type="hidden" name="opt" value="p" />
                                <button type="submit" class="btn btn-info mx-5 text-white">
                                    <i class="mdi mdi-exit-to-app" width="31"> MON ESPACE</i>
                                </button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link notif-btn" href="#" role="button" onclick="openNotif(this)">
                                <i class="font-24 mdi mdi-bell"><span style="color:red" id="nbr-notif"
                                        class="badge">0</span></i>
                            </button>
                            <ul hidden class="
                                dropdown-menu dropdown-menu-end
                                mailbox
                                animated
                                bounceInDown
                                " aria-labelledby="2">
                                <ul id="card-notif" class="list-style-none">
                                    <li>
                                        <div class="">
                                            <!-- Notif -->
                                            <a href="javascript:void(0)" class="link border-top">
                                                <div class="d-flex no-block align-items-center p-10">
                                                    <span class="
                                btn btn-success btn-circle
                                d-flex
                                align-items-center
                                justify-content-center
                              "><i id="ring" class="mdi mdi-bell text-white fs-4"></i>
                                                    </span>
                                                    <div class="ms-2">
                                                        <h5 class="mb-0">Notification aujourd'hui</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </ul>
                        </li>
                        <li class="nav-item dropdown d-flex p-1">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic">
                                <div class="content-circle">
                                    <img src="../Profil/<%= dataUser.profil %>" alt="user" class="img-circle" />
                                </div>

                            </a>
                            <div class="d-flex justify-content-center flex-column">
                                <span class="name-admin">
                                    <%= dataUser.usuel %>
                                </span>
                                <div><a class="logout" href="/exit_a">Se déconnecter</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="pt-4">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/home"
                                aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                                    class="hide-menu">Dashboard</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/management"
                                aria-expanded="false"><i class="mdi mdi-border-inside"></i><span
                                    class="hide-menu">Status</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/userlist"
                                aria-expanded="false"><i class="mdi mdi-account-key"></i><span class="hide-menu">Liste
                                    utilisateurs</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/details"
                                aria-expanded="false"><i class="mdi mdi-calendar-range"></i><span
                                    class="hide-menu">Tableau des pointages</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/fiche"
                                aria-expanded="false"><i class="far fa-file-pdf"></i><span class="hide-menu">Fiche de
                                    paie</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/absencelist"
                                aria-expanded="false"><i class="mdi mdi-calendar-clock"></i><span
                                    class="hide-menu">Liste des absences</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/validelate"
                                aria-expanded="false"><i class="mdi mdi-alarm-check"></i><span
                                    class="hide-menu">Validation retards</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                                aria-expanded="false"><i class="mdi mdi-account-off"></i><span class="hide-menu">Congé
                                </span></a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a href="/leavelist" class="sidebar-link"><i
                                            class="mdi mdi-format-list-bulleted"></i><span class="hide-menu">List des
                                            conges (global)</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/leaves" class="sidebar-link"><i class="mdi mdi-account-off"></i><span
                                            class="hide-menu">
                                            SOLDES DES CONGES PAYES</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/leaveTreated"
                                        aria-expanded="false"><i class="fa-solid fa-envelope-open-text"></i>
                                        <span class="hide-menu">Demandes traitées</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/leavePending"
                                        aria-expanded="false"><i class="fa-solid fa-envelope"></i>
                                        <span class="hide-menu">Demande de congé</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/suivi-conge"
                                        aria-expanded="false"><i class="fa-solid fa-eye"></i>
                                        <span class="hide-menu">Suivi de congé</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                                aria-expanded="false"><i class="mdi mdi-currency-usd"></i>
                                <span class="hide-menu">Avance </span></a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a href="/acces-avanceurgent" class="sidebar-link"><i
                                            class="mdi mdi-lock-open"></i><span class="hide-menu">Accès urgent</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/advancesalarylist" class="sidebar-link"><i
                                            class="mdi mdi-format-list-bulleted"></i><span class="hide-menu">Liste des
                                            avances</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/requestsalary"
                                        aria-expanded="false"><i class="fa-solid fa-envelope"></i>
                                        <span class="hide-menu">Demande des avances</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <b class="logo-icon ps-2">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="../assets/images1/logo.jpg" alt="homepage" class="light-logo" width="45" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text ms-3">
                            <!-- dark Logo text -->
                            <b>DEMANDE D'AVANCE SUR SALAIRE</b>
                        </span>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i
                                                class="mdi mdi-format-list-bulleted"></i>Demande</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <i class="mdi mdi-format-list-bulleted"></i> Avance sur salaire
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid position-relative">

                <div class="row content-request">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="header-request">
                                    <div class="buttons-tab d-flex justify-content-between" style="width: 100%;">
                                        <!-- Filter Dropdowns -->
                                        <!-- <div class="filter-dropdowns d-flex align-items-center">
                                            <select name="f-month" id="f-month" class="form-select"></select>
                                            <select name="f-year" id="f-year" class="form-select"></select>
                                        </div> -->
                                    </div>
                                </div>

                                <div class="coll-12 mt-2 p-4" id="content-allRequest">
                                    
                                    <div class="formulaire-container">
                                        <h2>
                                            Accorder l'Accès pour Demandes d'Avances Urgentes
                                        </h2>
                                        <h5 id="alert" class="alert alert-success">
                                            <i class="fas fa-check"></i> 
                                            <span></span>
                                        </h5>
                                        <form id="formulaire-acces">
                                            <!-- Sélection des employés avec checkboxes -->
                                            <label for="employes" class="d-flex justify-content-between align-items-end">Choisir les employés :
                                                <!-- Bouton de soumission -->
                                                <button type="submit" id="submit" class="btn btn-primary">
                                                    <i class="fas fa-lock-open me-1"></i>
                                                    Accorder l'Accès
                                                </button>
                                            </label>
                                            <select id="employes" name="employes" multiple>
                                                
                                            </select>


                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- notification modal -->
            <div class="notification-modal">
                <h2>
                    <i class="fa-solid fa-bell icons"></i>
                    Notifications:
                </h2>
                <div class="notification-options">
                <button type="button" class="mark" onclick="markAllAsRead()">Marquer tous comme lu</button>
                <button type="button" class="delete" onclick="removeAllNotifications()">Effacer les notifications</button>
                </div>
                <div id="notifContent" class="notification-list">
                
                </div>
            </div>
        </div>
    </div>
    <!-- Fichier Javascript -->
    <script src="/js_code/socket.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
    <script src="/jsDTB/notification.js"></script>

    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="../dist/js/waves.js"></script>
    <script src="../dist/js/sidebarmenu.js"></script>
    <script src="../dist/js/custom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    <script>

        const users = JSON.parse(String.raw`<%-JSON.stringify(users)%>`);
        const userWithAccess = users.filter(user => user.urgence_salary);

        // Initialiser Choices.js pour le select avec messages personnalisés en français
        const employesSelect = document.getElementById('employes');
        const choices = new Choices(employesSelect, {
            // items: userWithAccess.map( user => ({ label: `${user.first_name}`, value: user._id })),
            choices: users.map( user => ({ label: `${user.m_code} - ${user.first_name} ${user.last_name}`, value: user._id })),
            removeItemButton: true,
            searchEnabled: true,
            placeholder: true,
            placeholderValue: 'Choisissez les employés',
            addItemText: (value) => `Appuyez pour sélectionner ${value}`, // Custom "Press to select" message
            noResultsText: 'Aucun résultat trouvé', // Custom "No results found" message
            noChoicesText: 'Aucune option disponible', // Custom "No choices available" message
            itemSelectText: '', // Disables default "Press to select" if not needed
            shouldSort: false, // Disable automatic sorting
            fuseOptions: {
                includeScore: true,
                threshold: 0.3, // Adjust this value to be less strict if needed
                keys: [
                    { name: 'label', weight: 1 },
                ],
            },
        });

        
        // users that have acceess
        choices.setChoiceByValue(userWithAccess.map(u => u._id));

        // hide alert
        const hideAlert = () => $('#alert').attr('style', 'display: none');
        hideAlert();

        $('#formulaire-acces').on('submit', async function(){
            event.preventDefault();


            const res = await fetch('/api/avance/giveaccess', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                },
                body: JSON.stringify({
                    users: $('#employes').val()
                })
            });

            const { data, ok } = await res.json();

            if (ok) {
                // show success
                $('#alert')
                .attr('class', 'alert alert-success')
                .attr('style', 'display: block;').find('span').html(`Succès: L'accès a été donné à ${data.length} employés`);
            } else {
                $('#alert')
                .attr('class', 'alert alert-success')
                .attr('style', 'display: block;').find('span').html(`Erreur:  ne peut pas donner accès`);
            }

            setTimeout(hideAlert, 5000);

        });

    </script>
    <script>
        var notif = JSON.parse(String.raw`<%-JSON.stringify(notif)%>`);
        setnotification(notif);
        var socket = io();
        const audio = new Audio("ring.wav");
        socket.on("notif", function (msg) {
            var theNotif = msg[1];
            var concerned = msg[0];
            if (concerned.includes(role)){
            const title = theNotif.title.replace(/<\/?[^>]+(>|$)/g, "");
            const notification = new Notification(title, {
                body: `${theNotif.content}`,
                icon:  '../assets/images1/logo.jpg',
            });
            pushNotification(theNotif,role)
            audio.play();
            }
        });
        var notif = JSON.parse(String.raw`<%-JSON.stringify(notif)%>`);
        setnotification(notif);

        function closeHovering(id){
        document.getElementById(id).style.display = "none";
        }
        function openHovering(id){
        if (id == "conge"){
            document.getElementById(id).style.display = "block";
            closeHovering("late")
        }
        else {
            document.getElementById(id).style.display = "block"
            id = "late";
            closeHovering("conge")
        }
        
        }
        
    </script>
</body>

</html>