.content-request {
    flex-grow: 1;
    padding: 1em;
    background-color: #fff;
    border-radius: 20px;
}

.header-request {
    display: flex;
    justify-content: space-between;
}

.buttons-tab {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.switch-button {
    padding: 0.5em;
    font-size: 15px;
    background-color: #474747;
    outline: none !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s ease;
    padding-right: 12px;
    padding-left: 12px;
    box-shadow: 0 2px rgba(241, 233, 233, 0.2);
}

.date-heure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    width: 100%;
    margin-bottom: .8rem;
}

.date-heure h1 {
    display: flex;
    align-items: center;
    gap: .2rem;
    font-size: 11px;
    padding: .2rem .6rem;
    border-radius: .6rem;
    background: #fff;
    border: 1px solid #e0e0e0;
    width: fit-content;
    color: #575757;
    margin: 0;
    position: absolute;
    top: 0;
    left: .2rem;
    transform: translateY(-50%);
}
.ask{
    display: flex;
    justify-content: space-between;
}

.date-heure .d,
.date-heure>.h {
    border: 1px dashed #e0e0e0;
    position: relative;
    padding-top: 1rem;
    border-radius: .6rem;
    padding: 1rem .5rem;
    margin-top: .7rem;
    flex-grow: 1;
}
.ask-content{
    border: 1px dashed #e0e0e0;
    position: relative;
    padding-top: 1rem;
    border-radius: .6rem;
    padding: 1rem .5rem;
    margin-top: .7rem;
    flex-grow: 1;
}

.date-heure .d>div,
.date-heure .h>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.date-heure span:nth-child(1) {
    flex-grow: 1;
    text-align: left;
    font-weight: 500;
    color: #242424;
}

.date-heure span:nth-child(2) {
    flex-grow: 1;
    text-align: left;
    color: #242424;
}


#motif {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 20px);
}

.active-btn {
    /* background-color: rgb(122, 119, 119); */
    box-shadow: 0 0 0 transparent;
    color: #fff;
    background-color: #27A9E3;
    position: relative;
    z-index: 1;
}

.active-btn::before {
    /* content: ''; */
    position: absolute;
    height: 90%;
    width: 30%;
    left: 0;
    top: 0;
    transform: translateY(100%);
    background-color: #27A9E3;
    border-bottom-right-radius: 50px;
    z-index: -1;
}

.allRequest {
    background: linear-gradient(to bottom right, #e6edf0, #fbfeff);
    min-height: 80vh;
}

.content-leave {
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease;
    transform-origin: center;
    width: 100%;
}

.content-leave div:nth-child(1) {
    min-width: 110px;
}

.content-leave div:nth-child(2) {
    flex-grow: 1;
}

.content-leave #codeUser {
    text-align: center;
}

.content-leave:hover {
    /* background-color: #3b3d3d21; */
    transform: scale(1.05);
}

.code-person {
    box-shadow: 0 2px 15px rgba(108, 119, 125, 0.185);
    background-color: #2EB4E7;
    border-top-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.code-person.p_3 {
    background-color: #db5252;
}
.code-person.p_3 .priority {
    text-align: center;
    color: #ffffff;
}

.code-person.p_1 {
    background-color: #d1d347;
}
.code-person.p_1 .priority {
    text-align: center;
    color: #383838;
}

.code-person .priority {
    text-align: center;
    color: #dadada;
}

.code-text {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 550;
    color: #fff;
}

.leave-infos {
    box-shadow: 0 2px 15px rgba(108, 119, 125, 0.185);
    background-color: #fff;
    border-top-right-radius: 30px;
    padding: 1em;

}

.card-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 3em;
    padding: 2em;
}

@media screen and (max-width: 980px) {
    .card-item {
        grid-template-columns: repeat(1, 1fr);
    }
}
.warning{
    color: rgb(175, 21, 21);
    font-weight: bold;
}

.allProject {
    border: 1px solid #2EB4E7;
    border-radius: 7px;
    padding: 1em 2em;
}

.project {
    padding: 0.5em;
    background-color: rgb(0, 166, 231);
    color: #fff;
    font-weight: bolder;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}

.project:hover {
    background-color: rgb(0, 113, 158);
}

.modal_conge {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: scroll;

}

.modal_delete {
    background-color: #fff;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 600px;
    height: auto;
    padding: 25px 25px;
    animation: flating 1s ease-in;
}
.modal_piece {
    background-color: #fff;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 950px;
    height: auto;
    padding: 25px 25px;
    animation: flating 1s ease-in;
}
.close-modal{
    font-size: 35px;
    cursor: pointer;
    padding: 0.15em;
    transition: all 0.3s ease;
  }
  .close-modal:hover{
    background-color: #d42828c5;
    border-radius: 50%;
    color: #EEEEEE;
  }
.warn-text {
    font-size: 16px;
    color: #9c1111;
    font-weight: 900;
    font-family: Poppins;
    text-align: center;
}

.notice-success {
    padding: 0.5em;
    background-color: limegreen;
    color: #fff;
    font-weight: 300;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    display: none;
    animation: backwardLeft 1s ease-in;
    transition: opacity 0.5s ease;
}

.notice-denied {
    padding: 0.5em;
    background-color: red;
    color: #fff;
    font-weight: 300;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    display: none;
    animation: backwardLeft 1s ease-in;
    transition: opacity 0.5s ease;
}

.btn-response {
    border-radius: 3px;
}

.text-duration {
    color: #252424;
    text-align: center;
    font-weight: 500;
}

@keyframes backwardLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

textarea {
    width: 100%;
    height: 150px;
    padding: 1em;
    background-color: #0368976e;
    color: #242222;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #8f8a8a;
}

.border-red {
    border-color: red !important;
}

.btn-send {
    font-weight: bolder;
    color: #fff;
    margin-right: 5px;
}

.approving-list,
.approving-list span {
    display: flex;
    align-items: center;
    gap: .2rem;
    flex-wrap: wrap;
    margin-bottom: .5rem;
}

.approving-list {
    gap: 1rem;
}

.approving-list i {
    color: #369215;
}

label[for="type_leave"] {
    margin: 0;
}
/* Reset default styles */
select.type_leave {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

/* Style the dropdown arrow (if supported) */
select.type_leave::-ms-expand {
    display: none;
}

select.type_leave::after {
    content: 'BONJOUR';
    /* Unicode character for a down arrow ▼ */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: none;
}

/* Style the select#type_leave box */
select.typeLeave {
    padding: .3rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    width: auto;
    cursor: pointer;
}

/* Style for when the dropdown is open */
select.typeLeave:focus {
    outline: none;
    border-color: #5AC4EC;
    /* Change the border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    /* Add a subtle box-shadow on focus */
}
.disabled {
    pointer-events: none; /* Disable pointer events */
    opacity: 0.5; /* Apply opacity to visually indicate disabled state */
  }

.checking{
    margin: auto !important;
}
.container-order{
    border:solid 1px #252424;
    border-radius: 10px;
    padding: 0.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.file-ok{
    color: limegreen;
    opacity: 1;
    transition: all 1s ease;
    cursor: pointer;
}
.object-content{
    width: auto;
    max-height: 600px;
    object-fit: contain;
}

.input-choice2, .input-choice2date {
    padding: .3rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    width: 100%;
    cursor: pointer;
}
.input-choice2:focus, .input-choice2date:focus {
    border: 1px solid #27A9E3 !important;
}

.form-check-input::before {
    visibility: hidden;
}
p {
    margin-bottom: 0.2rem !important;
}

.recherche-mcode{
    width: 200px;
    padding-left: 35px;

}

#gerantList button{
    display: none !important;
}