.content-home {
    flex-grow: 1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-request {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: auto;
    background-color: rgb(71, 69, 69);
    padding: 1em;
}

.text-historic {
    color: #fff;
}

.text-title {
    color: #fff;
    font-size: 12px;
}

.text-number {
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
}

.text-solde {
    text-align: center;
    color: #fff;
    font-size: 22px;
}

.icon-check {
    color: limegreen;
    font-size: 16px;
}

.icon-wait {
    color: rgb(240, 224, 6);
    font-size: 16px;
}

.icon-progress {
    color: #27A9E3;
    font-size: 16px;
}

.icon-x {
    color: rgb(241, 89, 89);
    font-size: 16px;
}

.case-number {
    background-color: rgb(122, 119, 119);
    font-size: 25px;
}

.accumulate-content {
    width: 100%;
    border-top: 5px solid rgb(240, 224, 6);
    border-bottom: 5px solid rgb(240, 224, 6);
    font-size: 45px;
    padding: 0.20em;
    color: #fff;
    text-align: center;
}

.open-content {
    width: 100%;
    border-left: 5px solid limegreen;
    border-right: 5px solid limegreen;
    font-size: 45px;
    padding: 0.20em;
    color: #fff;
    text-align: center;
}

.buttons-tab {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.switch-button {
    padding: 0.5em;
    font-size: 15px;
    background-color: #E8E9E9;
    outline: none !important;
    color: #666666;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s ease;
    padding-right: 12px;
    padding-left: 12px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.active-btn {
    /* background-color: rgb(122, 119, 119); */
    box-shadow: 0 0 0 transparent;
    color: #44b11d;
    position: relative;
    z-index: 1;
}

.active-btn::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(90%);
    background-color: #E8E9E9;
    z-index: -1;
}

.container-make,
.container-request,
.container-upcoming {
    height: auto;
    background-color: rgb(210, 211, 211, 0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    display: none;
    animation: slide 0.3s ease-in;
    padding: 1em;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.container-request {
    max-height: calc(200px * 3);
    overflow-y: auto;
}

.container-none {
    height: 50vh;
    background-color: rgb(210, 211, 211, 0.5);
    border-top-left-radius: 25px;
    width: 100%;
    display: none;
    animation: slide 0.3s ease-in;
}

@keyframes slide {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 100%;
        opacity: 1;
    }
}

.container-make {
    display: block;
}

.text-nothing {
    font-size: 30px;
}

.notice-success {
    padding: 0.5em;
    background-color: limegreen;
    color: #fff;
    font-weight: 300;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    display: none;
    animation: backwardLeft 1s ease-in;
    transition: opacity 1s ease;
}

.notice-denied {
    padding: 0.5em;
    background-color: red;
    color: #fff;
    font-weight: 400;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    display: none;
    animation: backwardLeft 1s ease-in;
    transition: opacity 1s ease;
}

@keyframes backwardLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.file-ok{
    color: limegreen;
    opacity: 0;
    transition: all 1s ease;
    cursor: pointer;
}
/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: limegreen;
    color: limegreen;
    box-shadow: 9999px 0 0 -5px;
    animation: dot-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: limegreen;
    color: limegreen;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dot-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dot-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
    0% {
        box-shadow: 9984px 0 0 -5px;
    }

    30% {
        box-shadow: 9984px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 9984px 0 0 -5px;
    }
}

@keyframes dot-pulse {
    0% {
        box-shadow: 9999px 0 0 -5px;
    }

    30% {
        box-shadow: 9999px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 9999px 0 0 -5px;
    }
}

@keyframes dot-pulse-after {
    0% {
        box-shadow: 10014px 0 0 -5px;
    }

    30% {
        box-shadow: 10014px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 10014px 0 0 -5px;
    }
}

.snippet {
    display: none;
}




/* Demande congé */

.point-text {
    text-decoration: underline;
    font-weight: 600;
    font-size: 14px;
}

.text-infos {
    font-size: 14px;
}

.request-warning {
    font-style: italic;
    font-size: 13px;
}

.date {
    width: 140px;
    height: 30px;
    border: 1px solid rgb(72, 75, 72);
    border-radius: 5px;
    margin-top: -5px;
    padding: 5px;
}

.filling {
    opacity: 0;
}

textarea {
    width: 100%;
    border-color: rgb(240, 224, 6);
    height: 150px;
}

.day-number {
    text-align: center;
    border: 2px solid #666666;
    width: 50%;
    margin-top: -5%;
}

.card-list {
    background-color: #fff;
    /* border: 1px solid rgb(192, 192, 192); */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.leave-title-pending {
    background-color: rgb(240, 224, 6);
    color: #2c2a2a;
    /* border-top-right-radius: 15px;
    border-top-left-radius: 15px; */
    height: 40px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leave-title-declined {
    background-color: rgb(240, 41, 6);
    color: #fff;
    /* border-top-right-radius: 15px;
    border-top-left-radius: 15px; */
    height: 40px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leave-title-progress {
    background-color: #27A9E3;
    color: #fff;
    /* border-top-right-radius: 15px;
    border-top-left-radius: 15px; */
    height: 40px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leave-title-approved {
    background-color: #34C100;
    color: #fff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 40px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-field {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.action {
    cursor: pointer;
}


/* Hide the default checkbox */
.hidden-checkbox {
    display: none;
}

/* Style for the toggle switch label */
.toggle-label {
    display: inline-block;
    width: 45px;
    /* Adjust the width as needed */
    height: 22px;
    /* Adjust the height as needed */
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

/* Styling for the slider (the visible part of the toggle) */
.toggle-label::after {
    content: '';
    display: block;
    width: 20px;
    /* Adjust the width of the slider */
    height: 20px;
    /* Adjust the height of the slider */
    background-color: white;
    border-radius: 50%;
    top: 50%;
    position: absolute;
    transform: translate(20%, -50%);
    transition: transform 0.3s ease-in-out;
}

/* Change the appearance of the slider when the checkbox is checked */
.hidden-checkbox:checked+.toggle-label::after {
    transform: translate(100%, -50%);
}

.hidden-checkbox:checked+.toggle-label {
    background-color: limegreen;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid transparent;
    /* Border color */
    border-radius: 5px;
    /* Border radius to round the corners */
    outline: none;
    /* Remove default focus outline */
    transition: border-color 0.3s ease;
}

textarea:focus {
    border-color: #34d149;
}

input:focus {
    outline: 2px solid #34d149;
    border-color: transparent;
}



/* Card item leave request */
.card-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 14px;
    margin-bottom: .5rem;
    padding: .2rem;
}

.card-item .card-header {
    padding: 0 1rem;
    background: #fff;
    border-radius: 10px 10px;
    width: 100%;
    box-shadow: 1px 15px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.date-heure {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%; */
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    width: 100%;
    margin-bottom: .8rem;
}

.card-item .buttons {
    position: absolute;
    z-index: 10;
    top: calc(4px + .2rem);
    right: calc(4px + .2rem);
}

.card-item .buttons button {
    border: 1px solid #e5e5e5;
    color: #729052;
    transition: all 0.3s ease;
}

.card-item .buttons button:active {
    color: #729052;
}
.card-item .buttons button:hover {
    background-color: #729052;
    color: white;
}


.card-item .duration {
    margin: .5rem 0;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.date-heure h1 {
    display: flex;
    align-items: center;
    gap: .2rem;
    font-size: 11px;
    padding: .2rem .6rem;
    border-radius: .6rem;
    background: #fff;
    border: 1px solid #e0e0e0;
    width: fit-content;
    color: #575757;
    margin: 0;
    position: absolute;
    top: 0;
    left: .2rem;
    transform: translateY(-50%);
}

.ask{
    display: flex;
    justify-content: space-between;
}

.ask span{
    margin: 0 1%;
}
.date-heure .d,
.date-heure>.h {
    border: 1px dashed #e0e0e0;
    position: relative;
    padding-top: 1rem;
    border-radius: .6rem;
    padding: 1rem .5rem;
    margin-top: .7rem;
    flex-grow: 1;
}

.ask-content{
    border: 1px dashed #e0e0e0;
    position: relative;
    padding-top: 1rem;
    border-radius: .6rem;
    padding: 1rem .5rem;
    margin-top: .7rem;
    flex-grow: 1;
}

.date-heure .d>div,
.date-heure .h>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.date-heure span:nth-child(1) {
    flex-grow: 1;
    text-align: left;
    font-weight: 500;
    color: #242424;
}

.date-heure span:nth-child(2) {
    flex-grow: 1;
    text-align: left;
    color: #242424;
}

.card-item .motif {
    padding: .4rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 70px);
}

.card-item .card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: calc(100% - 40px);
    border-radius: 0 0 1rem 1rem !important;
    padding: .2rem .6rem;
    flex-shrink: 0;
    font-size: 13px;
}

:root {
    ---pending: #e2df2b;
    ---declined: #e94040;
    ---progress: #29ace9;
    ---approved: #22b929;
}
/* status of card item */
.card-item .card-footer.pending {
    background: var(---pending);
    color: #000;
    transition: all 0.5s ease-in;
}
.card-item .card-footer.progress {
    background: var(---progress);
    color: #fff;
    transition: all 0.5s ease-in;
}

.card-item .card-footer.declined {
    background: var(---declined);
    color: #fff;
    transition: all 0.5s ease-in;
}
.card-item .card-footer.approved {
    background: var(---approved);
    color: #fff;
    transition: all 0.5s ease-in;
}

/* motif */
.motif.declined > i{
    color: var(---declined);
}
.motif.approved > i{
    color: var(---approved);
}
.motif.progress > i{
    color: var(---progress);
}
.motif.progress{
    background-color: transparent !important;
}
.motif.pending > i{
    color: var(---pending);
}
.edit-leave-modal {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 200;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
}
.edit-leave-modal .content {
    padding: 2rem;
    max-width: 1170px;
}


.edit-leave-modal .container-make {
    background-color: #e6e6e6;
    border-radius: 15px;
    padding-top: 2rem;
    position: relative;
    overflow-x: hidden;
    opacity: 0;
    scale: 0.9;
    transform: translateY(200px);
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 3s ease;
}
.edit-leave-modal.open {
    display: flex;
}
.edit-leave-modal.open .container-make {
    animation: container-edit-animation  0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}


.edit-leave-modal .container-make button.close-btn {
    position: absolute;
    top: 0;
    right: 4px;
    border: none;
    background: none;
    font-size: 25px;
    transition: all 0.2s ease;
    color: #999999;
    outline: none;
}
.edit-leave-modal .container-make button.close-btn:active {
    scale: 0.9;
}
.edit-leave-modal .container-make button.close-btn:hover {
    color: crimson;
    cursor: pointer;
}

.delete-modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    inset: 0;
    z-index: 100;
    display: none;
}

.delete-modal.open {
    display: block;
}
.delete-modal .content {
    background: white;
    border-radius: 10px;
    padding: 6px 4px;
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: -80px;
    left: 50%;
    scale: 1;
    opacity: 1;
    transform: translateX(-50%);
    transition:  0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.delete-modal.open .content {
    animation: container-delete-animation 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.delete-modal .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.delete-modal .head h4 {
    margin: 1rem auto;
    font-size: 14px;
}

.delete-modal .foot {
    display: flex;
    padding: 1rem;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.delete-modal .foot button {
    font-size: 14px;
}
@keyframes container-delete-animation {
    to {
        scale: 1;
        opacity: 1;
        top: 80px;
    }
}

@keyframes container-edit-animation {
    to {
        scale: 1;
        opacity: 1;
        transform: translateY(0);
    }
}
@media screen and (max-width: 770px) {
    
    .day-number {
        margin-top: 2px;
    }
}

.styled-select {
    position: relative;
    display: inline-block;
    width: 140px;
}
.styled-select select {
    width: 100%;
    padding: 4px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    outline: none;
}
.styled-select::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Make sure the arrow doesn't block clicks */
    color: #757575;
    font-size: 12px;
}

.workingdate-options {
    display: flex;
    flex-direction: column;
    margin: 3px 0;
}
.workingdate-options span {
    font-weight: 500;
    color:#000;
    margin-bottom: 4px;
}
.workingdate-options * {
    font-size: 14px;
    margin: 0;
}
.workingdate-options .dates-options > div{
    display: flex;
    gap: 4px;
    align-items: center;
}

/* update 04/07/24 */
.input-shift > input {
    position: relative;
    width: 55px !important;
    text-align: center;
}

.input-shift {
    position: relative;
}