
.notification-modal {
    position: absolute;
    z-index: 99999;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 450px;
    background-color: #fff;
    box-shadow: -10px 0 80px rgba(0, 0, 0, 0.2);
    transform: translateX(200%);
    max-height: calc(100%);
    width: 520px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.notification-modal > h2 {
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: .4rem;
    color: #83AF85;
    padding: 1rem;
    border-bottom: 1px solid #dadada;
}
.notification-modal.show {
    transform: translateX(0);
}
.notification-modal.hide {
    transform: translateX(200%);
}
.notification-list {
    padding: 1rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: .5rem;
    padding-bottom: 1.5rem;
}

.notification-item {
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #dadada;
    transition: all 0.3s ease;
    position: relative;
}
.notification-item.removing {
    transform: scale(0);
    opacity: 0;
    margin: 0;
    padding: 0;
}
.notification-item span i.mdi-bell {
    font-size: 1.5rem !important;
}
.notification-item:hover {
    border: 1px solid #83AF85;
}
.notification-item h1 {
    font-size: 16px;
    color: black;
}
.notification-item button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #dadada;
    border: none;
    background-color: transparent;
    outline: none;
}
.notification-item:not(.seen) button {
    color: #8f97f7;
    display: none;
}
.notification-item button:hover {
    color: #bd4f4f;
    cursor: pointer;
}

.notification-item p {
    font-size: 14px;
    color: rgb(59, 59, 59);
}

.notification-item:not(.seen) {
    background-color: #2833ad2f;
    border-color: #8f97f7;
}
.notification-item .date-time {
    font-size: 12px;
    color: #787878;
}


.notification-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.notification-options > button {
    border: none;
    background-color: transparent;
    font-size: 13px;
    color: #6b6b6b;
    font-weight: 600;
    transition: all 0.3s ease;
    outline: none;
}
.notification-options > button:disabled {
    color: #6b6b6b !important;
    opacity: 0.6;
    cursor: not-allowed !important;
}
.notification-options > button:focus {
    color:#bd4f4f;
}
.notification-options > button:active {
    transform: scale(0.9);
}

.notification-options > button:hover {
    cursor: pointer;
    color: #000;
}


button#myRequest,
button#myUpcoming {
    display: none;
}

.fa-bell::before, .mdi-bell::before {
    animation: ring 4s .7s ease-in-out infinite;
}

@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}