@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
body{
    font-family: 'Sora';
    background-image: url("../images1/space-back.png");
}
.menu-container{
    background: linear-gradient(to bottom, #fff 95%, #34C100 95%);
   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
    padding: 0.5em;
}
.element-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.img-logo{
    width:max-content;
    height:50px;
    padding: -10px -10px;
}
.menu{
    display: flex;
}
.text-menu{
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 15px;
    color: rgb(71, 69, 69);
    transition: margin 0.3s ease-in-out;
}
.logo{
    margin-top: -5px;
}
.text-menu:hover{
    padding: 7px 15px;
    background-color: #34C100;
    color:white !important;
    text-decoration: none !important;
    margin-top: -2px !important;
    border-radius: 5px;
    height: 40px;
}
.active-menu{
    padding: 7px 15px;
    background-color: #34C100;
    color:white;
    margin-top: -2px !important;
    border-radius: 5px;
    height: 40px;
}
.icons{
    font-size: 25px;
    cursor: pointer;
}