@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
}
body{
    font-family: 'Sora';
    background-image: url("../images1/space-back.png");
    background-size: cover;
    background-attachment: fixed;
}
.menu-container{
    background: linear-gradient(to bottom, #fff 95%, #34C100 95%);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: .7em;
}

.element-container{
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    min-height: 100vh;
}
.img-logo{
    width:max-content;
    height:50px;
    padding: -10px -10px;
}
.menu{
    display: flex;
    align-items: center;
    margin-top: 0 !important;
    gap: .6rem;
}
.text-menu{
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    padding: 0.5rem .8rem;
    color: rgb(71, 69, 69);
    transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    text-align: center;
}
.notif {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 0 !important;
    padding: 0.7rem .8rem;
}
.notif button {
    color: #7c7c7c;
    font-size: 24px;
    transition: color 0.3s ease;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
}
.notif button:hover:not(.selected) {
    color: #83AF85;
}
.notif > button span {
    position: absolute;
    font-size: 10px;
    right: 7px;
    top: 0;
}

.notif button.selected {
    color: #34C100;
}

.notif button:active {
    transform: scale(0.9) !important;
    color:rebeccapurple !important;
}

.notif button:last-child:hover {
    color: #c10000;
}
.text-menu:hover:not(.active-menu) {
    color: #34C100;
    scale: 1.1;
    transform: translateY(-2px) !important;
    border-radius: 5px;
}
.text-menu.active-menu:hover {
    color:white !important;
}
.active-menu{
    /* padding: 7px 15px; */
    background-color: #34C100;
    color:white;
    margin-top: -2px !important;
    border-radius: 5px;
}
.icons{
    font-size: 25px;
    cursor: pointer;
}

.grid-item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

.grid-item > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.case-number > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .4rem;
    padding: .2rem .3rem;
}
.case-number p {
    margin: 0 !important;
}

.text-number {
    margin: auto 0;
}
span#numberNotification[textContent="0"] {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.notification-modal {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 450px;
    background-color: #fff;
    box-shadow: -10px 0 80px rgba(0, 0, 0, 0.2);
    transform: translateX(200%);
    max-height: calc(100%);
    width: 520px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.notification-modal > h2 {
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: .4rem;
    color: #83AF85;
    padding: 1rem;
    border-bottom: 1px solid #dadada;
}
.notification-modal.show {
    transform: translateX(0);
}
.notification-modal.hide {
    transform: translateX(200%);
}
.notification-list {
    padding: 1rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: .5rem;
    padding-bottom: 1.5rem;
}

.notification-item {
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #dadada;
    transition: all 0.3s ease;
    position: relative;
}
.notification-item.removing {
    transform: scale(0);
    opacity: 0;
    margin: 0;
    padding: 0;
}

.notification-item:hover {
    border: 1px solid #83AF85;
}
.notification-item h1 {
    font-size: 16px;
    color: black;
}
.notification-item button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #dadada;
    border: none;
    background-color: transparent;
    outline: none;
}
.notification-item:not(.seen) button {
    color: #8f97f7;
    display: none;
}
.notification-item button:hover {
    color: #bd4f4f;
    cursor: pointer;
}

.notification-item p {
    font-size: 14px;
    color: rgb(59, 59, 59);
}

.notification-item:not(.seen) {
    background-color: #2833ad2f;
    border-color: #8f97f7;
}
.notification-item .date-time {
    font-size: 12px;
    color: #787878;
}

.notification-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.notification-options > button {
    border: none;
    background-color: transparent;
    font-size: 13px;
    color: #6b6b6b;
    font-weight: 600;
    transition: all 0.3s ease;
    outline: none;
}
.notification-options > button:disabled {
    color: #6b6b6b !important;
    opacity: 0.6;
    cursor: not-allowed !important;
}
.notification-options > button:focus {
    color:#bd4f4f;
}
.notification-options > button:active {
    transform: scale(0.9);
}

.notification-options > button:hover {
    cursor: pointer;
    color: #000;
}

.notif.notif-sm {
    display: none;
}
.notif.notif-lg {
    display: flex;
}
/* max-lg */
@media screen and (max-width: 1280px) {
    .text-menu {
        font-size: 14px;
    }
    .notif i {
        font-size: 22px;
    }
    .element-container{
        padding: 0 2rem;
    }
}
/* max-md */
@media screen and (max-width: 910px) {
    
    .menu-container > div {
        flex-direction: column;
        gap: .8rem; 
    }
    .element-container{
        padding: 0 1rem;
    }
    
    .notification-modal {
        width: 320px;
        min-width: 320px;
    }
    /* bells and logout */
    .notif.notif-sm {
        display: flex;
        margin-left: auto;
    }
    .notif.notif-lg {
        display: none;
    }
}
/* max-sm */
@media screen and (max-width: 500px) {
    .element-container{
        padding: 0 0rem;
    }
    .grid-item {
        grid-template-columns: repeat(1, 1fr);
    }
    .container {
        padding: 0 0;
    }
    .menu {
        gap: .4rem;
    }
    .notification-modal {
        width: 300px;
        min-width: 300px;
    }
}

a[href="News"] {
    display: none;
}