.sheet-choice {
    width: 100%;
    height: 40px;
    font-family: Poppins-Medium;
    font-weight: lighter;
    border: 2px solid;
    padding: 5px 20px;
    color:#9999A9;
    border-image-slice: 1;
    animation: border-animation 1s infinite;
    cursor: pointer;
  }
  
  @keyframes border-animation {
    0% {
      border-image-source: linear-gradient(to right, rgba(87,184,70, 0.8), dodgerblue);
    }
    50% {
      border-image-source: linear-gradient(to right, rgb(17, 125, 233,0.8), rgba(87,184,70, 0.8));
    }
    100% {
      border-image-source: linear-gradient(to right, rgba(87,184,70, 0.8), rgb(17, 125, 233,0.8));
    }
  }
  .btn-md{
    width: auto;
    height: 40px;
    font-weight: lighter;
    padding: 8px 15px;
    border-radius: 15px;
  }
  .card-code-active{
    background-color: rgb(77, 141, 77);
    width: 100%;
    height:50px;
    padding-top: 12px;
    color:white;
    cursor: pointer;
    font-family: Poppins-Medium;
    font-weight:bold;
  }
  .card-code-active:hover{
    background-color: rgb(8, 121, 8);
  }
  .card-code-away{
    background-color: rgb(187, 90, 90);
    width: 100%;
    height:50px;
    padding-top: 12px;
    color:white;
    cursor:pointer;
    font-family: Poppins-Medium;
    font-weight:bold;
  }
  .card-code-away:hover{
    background-color: rgb(185, 0, 0);
  }
  .card-code-done{
    background-color: rgb(192, 152, 21);
    width: 100%;
    height:50px;
    padding-top: 12px;
    color:white;
    cursor: pointer;
    font-family: Poppins-Medium;
    font-weight:bold;
  }
  .card-code-done:hover{
    background-color: rgb(231, 179, 8);
  }
  .div-title{
    background-color: rgb(17, 125, 233);
    overflow: hidden;
    height: 55px;
    cursor: pointer;
    padding-top: 15px;
  }